<?php
/**
 * Magic-Zoom Extension
 *
 * PHP versions 4 and 5
 *
 * LICENSE: This source file is subject to version 3.0 of the PHP license
 * that is available through the world-wide-web at the following URI:
 * http://www.amzthemes.com/license.  If you did not receive a copy of
 * the PHP License and are unable to obtain it through the web, please
 * send a note to admin@amzthemes.com so we can mail you a copy immediately.
 *
 * @category   Magento Extensions
 * @package    AMZ_MagicZoom
 * @author     AmzThemes <sales@amzthemes.com>
 * @copyright  2014 AMZ Solution
 * @license    http://www.amzthemes.com/license
 * @version    2.0
 * @link       http://www.amzthemes.com
 */

/** @var $this Mage_Catalog_Block_Product_View_Media */
/** @var $product Mage_Catalog_Model_Product */
$product      = $this->getProduct();
/** @var $helper AMZ_Magiczoom_Helper_Data */
$helper       = Mage::helper('amz_magiczoom');
/** @var $outputHelper Mage_Core_Block_Abstract */
$outputHelper = $this->helper('catalog/output');

$position       = $helper->getConfigData('position');
$showTitle      = intval($helper->getConfigFlag('show_title'));
$titleOpacity   = intval($helper->getConfigData('title_opacity')) / 100;
$lensOpacity    = intval($helper->getConfigData('lens_opacity')) / 100;
$tintColor      = trim($helper->getConfigData('tint_color'));
$tintOpacity    = intval($helper->getConfigData('tint_opacity')) / 100;
$zoomWidth      = intval($helper->getConfigData('zoom_width'));
$zoomHeight     = intval($helper->getConfigData('zoom_height'));
$bigImageWidth  = intval($helper->getConfigData('big_image_width'));
$bigImageHeight = intval($helper->getConfigData('big_image_height'));

$config = array(
    "position:'{$position}'",
    "showTitle:{$showTitle}",
    "titleOpacity:{$titleOpacity}",
    "lensOpacity:{$lensOpacity}",
);
    
if ($position == 'inside') {
    $config[] = 'adjustX: -4,adjustY:-4';
} elseif ($position == 'right') {
    $config[] = 'adjustX: 10,adjustY:-4';
} elseif ($position == 'bottom') {
    $config[] = 'adjustX: -4,adjustY:10';
} elseif ($position == 'left') {
    $config[] = 'adjustX: -18,adjustY:-4';
} elseif ($position == 'top') {
    $config[] = 'adjustX: -4,adjustY:-18';
}

if ($tintColor) {
    $config[] = "tint:'{$tintColor}',tintOpacity:{$tintOpacity}";
}

if ($zoomWidth) {
    $config[] = "zoomWidth:{$zoomWidth}";
}

if ($zoomHeight) {
    $config[] = "zoomHeight:{$zoomHeight}";
}
?>
<?php
	if(count($this->getGalleryImages()) == 0){
		$_linkzoom = $this->helper('catalog/image')->init($product, 'image')->resize($bigImageWidth, $bigImageHeight);
	}
	else
	{
		$_linkzoom = "#";
	}
?>
<?php if ($product->getImage() != 'no_selection' && $product->getImage()): ?>
<div class="hidden-zoom" style="display:none">
	<?php if (count($this->getGalleryImages()) > 0): ?>
		<?php $i=0; foreach ($this->getGalleryImages() as $_image): $i++; ?>
			<?php if($i == 1) :?>
			<?php else :?>
			<a class="fancybox-buttons" rel="gallery1" href="<?php echo $this->helper('catalog/image')->init($product, 'image', $_image->getFile())->resize($bigImageWidth, $bigImageHeight);?>">
				<i class="fa fa-search-plus"></i>
			</a>
			<?php endif?>
		<?php endforeach?>
	<?php endif?>
</div>
<p class="product-image">
    <a href='<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($bigImageWidth, $bigImageHeight);?>' class = 'cloud-zoom' id='zoom1' rel="<?php echo implode($config, ',');?>">
        <img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(390, 410);?>" alt='' title="<?php echo $this->htmlEscape($this->getImageLabel());?>" />
    </a>
	
	<a id="zoom-btn" class="fancybox-buttons" rel="gallery1" href="<?php echo $_linkzoom; ?>" ><i class="fa fa-search-plus"></i></a>
</p>
<?php else: ?>
<p class="product-image">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($product, 'image')->resize(390, 410).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $outputHelper->productAttribute($product, $_img, 'image');
    ?>
	<a id="zoom-btn" class="fancybox-buttons" rel="gallery1" href="<?php echo $_linkzoom; ?>" ><i class="fa fa-search-plus"></i></a>
</p>
<?php endif; ?>
<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
	<h4><?php echo $this->__('More Views') ?></h4>
	<div id="media_moreview" class="moreviews more-views-full-xs">
		<?php foreach ($this->getGalleryImages() as $_image): ?>
			<div class="item">
				<a href='<?php echo $this->helper('catalog/image')->init($product, 'image', $_image->getFile())->resize($bigImageWidth, $bigImageHeight);?>' class='cloud-zoom-gallery' title='<?php echo $this->htmlEscape($_image->getLabel()) ?>'
				rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($product, 'image', $_image->getFile())->resize(390, 410);?>' ">
				<img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->resize(75, 95);?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
				</a>
			</div>
		<?php endforeach; ?>
	</div>
	<div id="scrollbar_track_">
		<div class="scrollbar_handle_navigation"><span class="track_top"></span><span class="track_bottom"> </span></div>
	</div>
	
</div>
<?php endif; ?>
<div class="clear"></div>
<script type="text/javascript">
		jQuery(document).ready(function() {
		  jQuery("#media_moreview").owlCarousel({
			 navigationText: [
			"<i class='fa fa-angle-left'></i>",
		  "<i class='fa fa-angle-right'></i>"
			],
			lazyLoad : true,
			navigation : true
		  });

		});
		</script>
<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});
			jQuery(".cloud-zoom-gallery").first().removeClass("cboxElement");
			jQuery(".cloud-zoom-gallery").click(function() {
				
				jQuery("#zoom-btn").attr('href', jQuery(this).attr('href'));
				jQuery("#zoom-btn").attr('title', jQuery(this).attr('title'));
			
				jQuery(".cloud-zoom-gallery").each(function() {
						jQuery(this).addClass("cboxElement");
				});
				jQuery(this).removeClass("cboxElement");
								
			});
			jQuery(".cloud-zoom-gallery").first().click();
		});
</script>
