<?php
/**
 * @var $this AMZ_SlideShow_Block_Slideshow
 */
?>
<?php 
$amzbase = $this->helper('amzbase');
$b = $amzbase->getConfigGroup();
$containerClass = $amzbase->getContainerClass();
$rowClass = $amzbase->getRowClass();
$spanClass = $amzbase->getSpanClass();
$bootstrapClass = $amzbase->getBootstrapClass();

$block_ids = $this->getBlockIds(); 
$helper = $this->helper('amz_slideshow'); 
if ($helper->getConfig('banner/enabled')) : ?>
    <?php
    $banner_ids = $this->getBannerIds(); 
    $count = $this->getBannerCount();
    $n = 12 / $count;
    $spanClass .= $n;
    $i = 0;
    ?>
    <div class="<?php echo $containerClass ?>">
        <?php if ($bootstrapClass != 'bv3') : ?>
        <div class="<?php echo $rowClass ?>">
        <?php endif; ?>
            <?php $i = 0; foreach ($banner_ids as $banner_id): $i++;
            if ($i > $count)
                break;
            ?>
            <div class="<?php echo $spanClass ?>">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($banner_id)->toHtml(); ?>
            </div>
            <?php endforeach; ?>
        <?php if ($bootstrapClass != 'bv3') : ?>
        </div>
        <?php endif; ?>
    </div>
<?php endif; ?>