<?php
/**
 *Flycart Extension
 *
 * PHP versions 4 and 5
 *
 * LICENSE: This source file is subject to version 3.0 of the PHP license
 * that is available through the world-wide-web at the following URI:
 * http://www.amzthemes.com/license.  If you did not receive a copy of
 * the PHP License and are unable to obtain it through the web, please
 * send a note to admin@amzthemes.com so we can mail you a copy immediately.
 *
 * @category   Magento Extensions
 * @package    AMZ_Flycart
 * @author     AmzThemes <sales@amzthemes.com>
 * @copyright  2014 AMZ Solution
 * @license    http://www.amzthemes.com/license
 * @version    3.0.1
 * @link       http://www.amzthemes.com
 */
 ?>

<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>

<script type="text/javascript">
//<![CDATA[
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
//]]>    
</script>
<?php  
    $submit_url = $this->getSubmitUrl($_product);
    if (!$submit_url){
        $submit_url = $this->getAddToCartUrl($_product);
    }
?>
<form action="<?php echo $submit_url ?>" method="post" id="flycart_product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>        
    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
    <input type="hidden" name="related_product" id="related-products-field" value="" />
    <input type="hidden" name="flycart_add" value="1" />
	<div class="product-name flycart_prod_name">
		<h1><?php echo $_product->getName(); ?></h1>
	</div>
	
	<?php if ($_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE): ?>
		<?php echo $this->getChildHtml('flycart_product_info_bundle') ?>
	<?php endif; ?>
    <?php echo $this->getChildHtml('flycart_configurable_options') ?>
    <?php echo $this->getChildHtml('flycart_configurable_options_bottom') ?>        
</form>

<script type="text/javascript">
//<![CDATA[
    var productAddToCartForm = new VarienForm('flycart_product_addtocart_form');
    productAddToCartForm.submit = function(button) {
        if (this.validator.validate()) {
            
            ajaxcartConfig.addConfigurableProduct(this.form);
        }
    }.bind(productAddToCartForm);
//]]>
</script>        