
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?=$this->__('Install Theme')?></h3></td>
        </tr>
    </table>
</div>
<?php if(count($this->getThemeSetting())):?>
<div class="content">
	<form action="<?php echo $this->getUrl('*/*/run')?>" name="theme_installation" id="theme_installation" method="post">
		<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
		<table cellspacing="5" class="">
			<tr>
				<td>
					<select name="theme">
						<option value="0">-- select theme --</option>
						<?php foreach($this->getThemeSetting() as $key=>$value):?>
							<option value="<?php echo $key;?>" <?php if($key==$this->getCurrentTheme()):?> selected="selected" <?php endif;?>><?php echo $value;?></option>
						<?php endforeach;?>
					</select>
				</td>
				<td>
					<button onclick="installForm.submit()" class="scalable save" type="button"><span>Install</span></button>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
    var installForm = new varienForm('theme_installation');
</script>
<?php endif;?>