<?php if($this->getCurrencyCount() > 1): ?>
<div class="currency">
	<span class="currency-label"><?php echo $this->__('Currency :') ?></span>	
	<div class="form-currency" onmouseover="showCurrent(this)" onmouseout="hideCurrent(this)">
		<label for="custom-currency-selector" class="currency-hover"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></label>
		<i class="fa fa-angle-down"></i>
		<ul id="custom-currency-selector" class="over-currency" style=" display:none;">
			<?php foreach ($this->getCurrencies() as $_code => $_name): ?>
			<li class="<?php if($_code == $this->getCurrentCurrencyCode()): ?>select<?php endif; ?>">
				<a href="<?php echo $this->getSwitchCurrencyUrl($_code)?>"><?php echo $_code ?></a>
			</li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>	
<?php endif; ?>
<script type="text/javascript">
	function showCurrent(el){
		el.down('.over-currency').show();
	}
	function hideCurrent(el){
		el.down('.over-currency').hide();
	}
</script>