/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/********** < Navigation */
.mobile-nav {display:none;}
.mobile-nav li.parent em {float: right;
display: block;
width: 37px;
text-align: center;
font-style: normal;
font-weight: 700;
}
.mobile-nav li.parent em:hover {cursor:pointer; background:#fff; color:#000 !important; }
.nav-container {position:relative; z-index:10010; vertical-align:middle;}
#navigation_select{display:none; min-width:100%}
.res-menu .nav-top-title, .nav-container .nav-top-title{ cursor:pointer; font-family:'Myriad Pro', sans-serif; font-size:16px; text-align:left; width:auto; margin:0 auto 3px; padding:0 10px; line-height:36px; background:#000; color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:none;  }
nav .nav-top-title a{color:#fff; text-decoration:none; }
nav .nav-top-title div.icon, .nav-container .nav-top-title div.icon {float:left; width:15px; margin:11px 10px 0 0;}
nav .nav-top-title div.icon span, .nav-container .nav-top-title div.icon span {display:block; height:3px; margin:0 0 2px;}
nav .nav-top-title:hover, .nav-container .nav-top-title:hover {}
nav .nav-top-title:hover a, .nav-container .nav-top-title:hover a,
nav .nav-top-title.active a, .nav-container .nav-top-title.active a {/* color:#fff; */ }
nav .nav-top-title:hover div.icon span, .nav-container .nav-top-title:hover div.icon span,
nav .nav-top-title.active div.icon span, .nav-container .nav-top-title.active div.icon span {background:#fff; }



/* All Levels */


.below-logo .nav-container {/* display:block; position:static; */}
.below-logo #nav {width:100%; /* margin:0 0 10px 3px */}

/* All Levels */
#nav li { text-align:left; position: static; }
#nav li.over { z-index:998; }
#nav li.parent {}
#nav li a { display:block; text-decoration:none; font-weight:300; }
#nav li a:hover { text-decoration:none; }
#nav li a span { display:block; white-space:nowrap; cursor:pointer; }
#nav li ul a span { white-space:normal; }

/* 1st Level */
#nav>li>a { position:relative; float:left; padding:0; color:#373230; font-size:14px; font-family:"Myriad Pro",sans-serif; font-weight:500; line-height:30px; letter-spacing:-0.1em; text-transform:uppercase; }
#nav>li>a>span{padding:0px 10px;}
#nav>li:hover,
#nav>li.over,
#nav>li.active{/* -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15); */}
#nav>li>a:hover, #nav>li.over>a{z-index:1000;}
#nav>li>a:hover>span,
#nav>li.over>a>span,
#nav>li.active>a>span{}
#nav>li.custom-block>a, #nav>li.custom-block>a>span {cursor:default;}

/* 2nd Level */
/*#nav ul,*/
#nav ul { position:absolute; z-index:999; width:96.7%; padding:16px; left:-10000px; border:none; background:#fff;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);}

/* 3rd+ leven */
/*#nav ul ul,*/
#nav ul ul { top:-5px; margin:0 0 0 101px; padding:0; width:auto; border:none;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);}
#nav ul ul{ padding:16px; width:auto; }
#nav ul li { float:none; border:none; width:210px; line-height:28px; position:relative; }
#nav ul li.last {}
#nav ul li a {float:none; padding:0 10px; font-family:Arial, serif; font-size:12px; font-weight:normal; color:#322c29 !important; background:transparent none; }
#nav ul li.active > a {}
#nav ul li.over > a, #nav ul li a:hover {background:#f5f4f4; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0px; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:15px; }

#nav li.custom-block>ul>li { width:350px; line-height:150%; }
#nav li.custom-block ul li strong {color:#888888; font-family:"Myriad Pro", sans-serif; font-weight:700;}
#nav li.custom-block ul li a { display:inline; color:#888888; float:none; font-weight:300; padding:0px; text-decoration:underline; border:none !important; background:transparent none !important;}
#nav li.custom-block ul li a:hover,
#nav li.custom-block ul li.over > a{ color:#888888 !important; text-decoration:none; background:transparent none !important;}
#nav li.custom-block ul li>ul { position:static; width:auto; border:none; background:#fff; top:0; margin:0; padding:0; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#nav li.custom-block ul li>ul>li { width:auto; float:none; background:transparent url("../images/arrow_item.gif") no-repeat 10px 8px !important;; line-height: 22px; padding: 0 10px 0 20px;}

#mobile-nav { padding:0; position:relative; border:none; float:left; box-shadow: 1px 2px 10px 2px #ddd;}
/* All Levels */
#mobile-nav li { text-align:left; position: static; }
#mobile-nav li.over { z-index:998; }
#mobile-nav li.parent {}
#mobile-nav li a { display:block; text-decoration:none; font-weight:300; }
#mobile-nav li a:hover { text-decoration:none; }
#mobile-nav li a span { display:block; white-space:nowrap; cursor:pointer; }
#mobile-nav li ul a span { white-space:normal; }

/* 1st Level */
#mobile-nav>li { float:left; position:relative; margin:0 3px 3px;}
#mobile-nav>li>a { position:relative; float:left; padding:0; color:#373230; font-size:14px; font-family:"Myriad Pro",sans-serif; font-weight:700; line-height:36px; letter-spacing:-0.1em; text-transform:uppercase; }
#mobile-nav>li>a>span{padding:0px 10px; background:#fff;}
#mobile-nav>li:hover,
#mobile-nav>li.over,
#mobile-nav>li.active{}
#mobile-nav>li>a:hover, #mobile-nav>li.over>a{z-index:1000;}
#mobile-nav>li>a:hover>span,
#mobile-nav>li.over>a>span,
#mobile-nav>li.active>a>span{}
#mobile-nav>li.custom-block>a, #mobile-nav>li.custom-block>a>span {cursor:default;}

/* 2nd Level */
/*#mobile-nav ul,*/
#mobile-nav ul { position:absolute; z-index:999; width:auto; padding:16px; margin:39px 0 0; left:-10000px; border:none; background:#fff;}

/* 3rd+ leven */
/*#mobile-nav ul ul,*/
#mobile-nav ul ul { top:-5px; margin:0; padding:0; width:auto; border:none;}
#mobile-nav ul ul{ padding:16px; width:auto; }
#mobile-nav ul li { float:none; border:none; width:210px; line-height:28px; position:relative; }
#mobile-nav ul li.last {}
#mobile-nav ul li a {float:none; padding:0; font-family:Arial, serif; font-size:12px; font-weight:normal; color:#322c29 !important; background:transparent none; }
#mobile-nav ul li.active > a {background:#322c29 !important; /* color:#fff !important; */ }
#mobile-nav ul li.over > a, #mobile-nav ul li a:hover {background:#f5f4f4; }

/* Show menu */
#mobile-nav li ul.shown-sub,
#mobile-nav li div.shown-sub { left:0px; z-index:999; }
#mobile-nav li .shown-sub ul.shown-sub,
#mobile-nav li .shown-sub li div.shown-sub { left:15px; }


/*Table*/
.data-table th {
padding: 18px 45px;
font-weight: 300;
}
.data-table th, .data-table td, .data-table td a {
color: #000;
color: rgba(0,0,0,0.67);
}
.data-table thead th {
-webkit-box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
}
.data-table tr.even, .data-table tr.odd {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.65);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
/* .data-table td {
padding: 18px;
} */
.data-table .td-title, .box-account .td-title {
display: none;
}
.data-table tbody td {
border: 1px solid #e9e9e9;
border-top: none;
border-left: none;
}
.data-table td.td-image {
border-left: none;
}
.data-table td a.product-image, .data-table td a.product-image img {
display: block;
margin: 0 auto;
}
a.product-image {
display: block;
position: relative;
}
.data-table td.td-image img {
width: 115px;
height: auto;
}
.cart .cart-collaterals {
text-align: center;
}
.cart .cart-collaterals .cart-total {
padding: 0;
}
.cart .cart-collaterals .cart-total, .cart .cart-collaterals .cart-block .discount, .cart .cart-collaterals .cart-block .shipping{
	position: relative;
	padding: 20px 5%;
}
#shopping-cart-totals-table {
	margin: 0px auto 5px;
}
#shopping-cart-totals-table .a-right {
	text-align: center !important;
}
#shopping-cart-totals-table td {
	padding: 0 0 5px;
	width: 60%;
}
button.btn-proceed-checkout{margin-bottom:10px;}
th.th-wishlist, td.td-wishlist{display:none;}
.top-opc{display:none;}
/********** Navigation > */
/* ======================================================================================= */


@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
    .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/* toTop Button */
#toTop { display:none; text-decoration:none; position:fixed; z-index:100; bottom:100px; right:10px; overflow:hidden; width:56px; height:56px; border:none; text-indent:-999px; background:#ff4a4a url(../images/arrow_totop.png) 0 0 no-repeat; -webkit-border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; border-radius:100%;}


.twitterWidget {min-height:275px}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/***** Standard 960 *****/
	.row { margin:0 auto;}
    .row .row { width:auto; margin:0; }
    .grid_1 { width:48px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_2 { width:180px; margin:0px 0 0 0 ; float:left; display:inline; position:relative }
    .grid_3 { width:208px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_4 {width: 31.8%; margin:0 24px; float:left; display:inline; position:relative;}
    .grid_5 { width:368px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_6 { width:448px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_7 { width:528px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_8 { width:608px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_9 { width:688px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_10 { width:765px; margin:0 ; float:left; display:inline; position:relative }
    .grid_11 { width:848px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .grid_12 { width:928px; margin:0 16px 0 16px; float:left; display:inline; position:relative }
    .space_1 { margin-left:96px; }
    .space_2 { margin-left:176px; }
    .space_3 { margin-left:256px; }
    .space_4 { margin-left:336px; }
    .space_5 { margin-left:416px; }
    .space_6 { margin-left:496px; }
    .space_7 { margin-left:576px; }
    .space_8 { margin-left:656px; }
    .space_9 { margin-left:736px; }
    .space_10 { margin-left:816px; }
    .space_11 { margin-left:896px; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.clear { clear:both; height:0; line-height: 0; font-size: 0;}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
} 