html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
img {
max-width: 100%;
}
.product-image img{margin:0 auto;}
/* Menu ================================================================================ */
#izzi-nav-container .main{
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}
#izzi-nav-container .main-inner{
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	background:#000;
	height: 40px;
}
.res-menu {
	display: none;
}
.wrap-menu {
	margin: 0 19px;
	display: inline-block;
}
.wrap-menu > li {
	position: relative;
}
.wrap-menu > li > a {
	line-height: 40px;
	color: #1A1A1A;
	font-weight: bold;
	padding: 0 10px !important; 
	display: inline-block;
	font-size: 13px;
}
.wrap-menu > li.active > a, .wrap-menu > li:hover > a {
    background: url(../../../themesetting/images/bg-menu-hover.png) repeat-x scroll left top ;
	color: #FEFE95 ;
	padding: 0 10px !important; 
}
#nav ul, #nav div {
	background: url(../../../themesetting/images/bg-submenu.png) repeat left top scroll;
	top: 39px;	
}
.wrap-menu ul li {
}
@media only screen and (max-width: 959px) {
	/* ======== responsive menu ======== */
.wrap-menu{display: none ;}
.nav-container{width:100%;}
#explodedmenu{display:none !important;}
.res-menu{display: block !important;}
#nav-res {
	display:none ;
}
.res-menu ul.level0 {
	display:none;
}
.res-menu h2{
	color: #fff !important;
	display: block;
	margin-bottom: 0;
	line-height: 18px;
	padding: 19px 20px;
	font-size: 18px;
	width: 415px
}
ul.wrap-menu {
	background: url(../../../themesetting/images/bg-submenu.png) repeat left top scroll;
	display:none;
}
.wrap-menu li {
	padding: 0 !important;
	width:100%;
	display: inline-block;
	background: none!important;
	border-bottom: 1px dotted #bbb;
}

.res-menu {
	position: relative;
	width: 100%;
	background: #000;
	color: #fff;
	font-weight: normal;
}
.res-menu .wrap-menu{
	position:absolute;
	top:56px;
	left:0px;
	z-index: 990;
	margin: 0;
	border: 1px solid #6186BD;
	border-radius: 0 0 4px 4px;
	text-align: left;
	width:99%;
}
.res-menu #nav-res > li.active > a,
.wrap-menu li a {
	display: block;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #234577;
}
 #nav-res ul li a:hover,
.wrap-menu > li.active > a span,
.wrap-menu ul > li.active > a span  {
	color:#FEFE95;
}
.wrap-menu li.parent ul {
}
.wrap-menu li.parent:hover ul {
}
.wrap-menu li.parent > ul {
	background: #5682c4;
}
.wrap-menu li.parent > ul li a {
	padding: 0 20px;
} 
.wrap-menu  ul li.parent:hover ul,
.wrap-menu  ul li.parent ul {
}
.wrap-menu  ul li.parent ul {
	background: #6d8cba;
}
.wrap-menu  ul li.parent ul li a {
	padding-left: 30px;
	border-bottom: 1px dotted #bbb!important;
}
#nav-res .bg-parent, .res-menu h2 .bg-parent {
	 background: url(../../../themesetting/images/arrow3.png) no-repeat center center scroll;
	 border: 1px solid #758FB6;
	 left: auto;
	 right: 9px;
	 position: absolute;
	 display:block;
	 cursor:pointer;
}
.res-menu h2 .bg-parent {
	height: 22px;
	top: 16px;
	width: 22px;
}
#nav-res .bg-parent{
	 height: 18px;
	 top: 5px;
	 width: 18px; 
}
 #nav-res .bg-parent:hover, li.active .bg-parent, .res-menu h2 .bg-parent {
	 box-shadow:0 0 2px #0e3d56;
	 -moz-box-shadow:0 0 2px #0e3d56;
	 -webkit-box-shadow:0 0 2px #0e3d56;
	 -o-box-shadow:0 0 2px #0e3d56;
	 -ms-box-shadow:0 0 2px #0e3d56;
}

}


/***** iPad Smaller than 959px *****/
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .row { margin:0 auto; width:100%;max-width:960px !important; }
    .row .row { width:auto; }
    .grid_1 { width:36px; margin:0 14px}
    .grid_2 { width:100px; margin:0 14px}
    .grid_3 { width:164px; margin:0 14px}
    .grid_4 { width:228px ; margin:0 14px}
    .grid_5 { width:292px; margin:0 14px}
    .grid_6 { width:356px; margin:0 14px}
    .grid_7 { width:420px; margin:0 14px}
    .grid_8 { width:484px; margin:0 14px}
    .grid_9 { width:548px; margin:0 14px}
    .grid_10 { width:612px; margin:0 14px}
    .grid_11 { width:676px; margin:0 14px}
    .grid_12 { width:740px; margin:0 14px}
    .space_1 { margin-left:78px; }
    .space_2 { margin-left:142px; }
    .space_3 { margin-left:206px; }
    .space_4 { margin-left:270px; }
    .space_5 { margin-left:334px; }
    .space_6 { margin-left:398px; }
    .space_7 { margin-left:462px; }
    .space_8 { margin-left:526px; }
    .space_9 { margin-left:590px; }
    .space_10 { margin-left:654px; }
    .space_11 { margin-left:718px; }
	
	.main-container {
		margin: 0 auto;
		max-width: 960px;
	}
	
	/***slideshow-product-container***/
	.slideshow-product-container{padding: 0 12px;}
	.slideshow-product-container .salelabel-category-container{
		/* top: -24px !important;
		left: 165px !important; */
	}
	.new-product-container, .brand-container {
		float: left;
		margin: 0;
		display: block;
		width: auto;
		padding: 0 12px;
	}

	#nav { width:510px; }
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 97.5%;
		padding: 0 12px;
	}
	/*** Promotion Container **/
	.promotion-container .promoBox.span12{display: table;}
	.static-R-4 .sampleBanner {
		width: 225px;
	}	
	.footer-top, .footer-info {
		width: 960px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.footer-top .izzi-bottom-footer {
		width: 910px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.footer-container .footer-info {
		width: 936px;
	}
	.about-block.static-footer{width: 100%;margin: 0;}
	.static-footer {width: 462px;}
	.izzi-position-footer, .copyright-container .row {
		width: 936px;
	}
	.footer-bottom .col-footer {
		width: 212px;
	}
	
	.col3-layout .col-wrapper {
		float: left;
		width: 100%;
	}
	.col3-layout .col-main{width:97%;}

	
	.product-essential {
		padding: 12px 0;
	}
	button.btn-checkout span span {
		padding: 0 40px 0 20px;
	}
    
	.quick-access{}
	.top-footer .bonus-gift-card{
	padding: 0%;
	margin: 0;
	border: none;
	float: right;}
	#view-upsell .slide{padding: 10px;}
	#example-1 .slide, #example-2 .slide{padding: 10px 20px;}
	.footer .col5-footer {
	width:246px;
	}
	.iosSlider {
		height: 320px;
	}
	.cart .shiping-col-cart {
		
	}
	.cart .crosssell{}
	.right-header {
		width: 100%;
		margin-top: -45px;
	}
	.right-header .links li a {
		padding: 0 5px 0 5px;
	}
	.top-footer .telephone {
		float: right;
		width: 100%;
		text-align: right;
	}
	.footer .blog-footer{margin:0}

	.footer .f-left {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.footer ul.links {
		float: left;
		width: 100%;
		padding-bottom: 5px;
		text-align: center;
	}
	.footer ul.links li {
		float: none;}
	.footer .f-right {
		width: 100%;
		text-align: center;
		float: none !important;
	}
	.footer .payment-method ul li {
		float: none;
	}
	.footer .payment-method ul {
		float: none;
	
	}
    .top-dropdowns {width:240px; margin:8px auto 0; position:relative;}
    .cart-top-container {display:none; }
    .cart-top-title{display:block; float:left; width:110px; }
    .compare-top-container {display:none; }
    .compare-top-title{display:block; float:left; width:110px; }
    .search-top-container {margin:0 0 10px; padding:0; float:none; clear:left; }
    .search-top-container .search-top, .search-top-container .search-form-border{display:none; }
    .search-top-container .search-form{display:block !important; opacity:1 !important; position:relative; top:0; left:0; margin:0 auto; padding:0 0 8px 0; background:none transparent; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; }
    .search-field #search {width:224px}
    .search-field #search_mini_form .form-search button {margin-left:216px}

    
    .footer-info .grid_3 {width:356px; margin-bottom:30px; }


    .mobile-nav, .mobile-nav  .nav-container, .mobile-nav  .nav-container .nav-top-title {display:block; }
  
    #mobile-nav li { float:none; position:relative; width:auto; margin:0 auto 3px;}
    #mobile-nav li a { float:none; padding:0; }
    #mobile-nav li a span {padding:0px 10px; border:none;}
    #mobile-nav li:hover,
    #mobile-nav li.over,
    #mobile-nav li.active{ -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
    #mobile-nav>li>a:hover>span,
    #mobile-nav>li.over>a>span,
    #mobile-nav>li.active>a>span{border:none; background:transparent; color:#FF4A4A; }
    #mobile-nav>li>a:hover>em,
    #mobile-nav>li.over>a>em,
    #mobile-nav>li.active>a>em{color:#FF4A4A; }
    #mobile-nav li.custom-block { display:none !important;}
    #mobile-nav ul, #mobile-nav ul ul { display:none; position:static; margin:0; padding:5px 0 10px 5px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
    #mobile-nav ul li {width:auto; }

    .homepage-banners {width:600px !important;}
    .homepage-banners .grid_6{width:270px !important; margin:0 15px;}
    .homepage-banners a .content{margin:8px 14px;}
    .homepage-banners a .content p{display:none; }
    .homepage-banners a .content .border{margin:5px 10px; }
    .homepage-banners a .content strong{font-size:24px; }
    .homepage-banners a .content button{margin:5px 0 0;}

   
    .col1-layout .col-main .products-grid { margin:0;width: 97.9%;}
   
    .col2-left-layout .products-grid,
    .col2-right-layout .products-grid {margin:0; }
    .col2-left-layout .page-title {  }
	.page-title{margin: 0;}
    .cart .cart-collaterals .grid_4{/* margin:0 0 24px 30px; */}

	.opc .step {
	padding: 15px;
	}
    .checkout-onepage-index .col-right {padding:20px 0 0; float:none;}
    .checkout-onepage-index .col-right .block { float: none;
	margin: 0 auto 10px;
	width: 100%; }
	.col2-set .col-2 {
	float: right;
	width: 44.5%;
	}

    .breadcrumbs{ padding: 3px 12px 15px;}

    .home-main .category-products {margin:0 0 30px 0;}
    .home-main, .home-right, .home-left {float:none}
    .home-right, .home-left {width:600px; margin:0 auto;}
    .home-main, .col1-layout .home-main .products-grid {width:600px;}

    .flexslider .slides .content{max-width:560px;}
    .flexslider .slides .content strong{font-size:48px; line-height:40px; }
    .flex-direction-nav {width:768px; display:none !important; }

    
    #shopping-cart-totals-table strong {font-size:18px; padding:0 10px 0 0;}
    .data-table table, .data-table thead, .data-table tbody, tablr.data-table th, table.data-table td, .data-table tr { border: 0;  text-align: left !important;width:auto;}
    .data-table tfoot td { text-align:right !important;}
    .data-table th { display:none;}
    .data-table td {padding:10px;width:auto;}
    .data-table td.td-name h2 {font-size:20px; font-weight:300; }
    .data-table td.td-image a {text-align:center; }
    .data-table td.td-image img {width:200px;}
    .data-table td.td-edit, .data-table .btn-remove {display:none;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
    .data-table td.td-price {padding:10px; background:#fafafa;}
    .data-table td.td-qty {padding:0 10px; background:#fafafa;}
    .data-table td.td-delete {background:#fafafa; text-align:center !important;}
    .data-table .td-title {display:inline-block !important; width:100px; padding:0 10px 0 0; font-weight:bold; }
    .data-table .td-actions {display:inline; padding:0 5px; }
    .data-table th.td-wishlist, .data-table td.td-wishlist {display:none;}
    #product-attribute-specs-table  th { display:block;}
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; }
    #product-review-table th{display:table-cell; padding:8px 3px; }

    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    
    .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
    .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 20px;}
    .product-view .product-shop-info .add-to-links li.wishlist{margin-left:0}
    .main .slider-container {width:600px; margin-left:0 }
    .main .slider-container h3 {width:500px; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .jcarousel-skin-tango .jcarousel-container-horizontal {width:600px;}

    

    .toolbar {
		width: 98%;
		padding: 5px;
	}
	.col3-layout .category-products .products-grid li.item {
		width: 176.5px;
	}	
    .language-switch, .currency-switch {display:none;}
    .language-select, .currency-select {display:block; float:left; margin:4px 10px 0 0; text-align:center;}
    .language-select select, .currency-select select {width:100px; height:auto;}

    .toolbar-switch .current { display:none; }
    .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
    .toolbar-switch select { display:inline; height:auto; }

    .products-list {margin: 0 15px; }
    

    .products-list .ratings {float:none; margin:5px 0;}
    .products-list .add-to-links li:first-child span {display:none}


    .top-opc {width:100%; margin:0 0 0 50px}
    .opc {width:100%;}
    .opc .td-label {display:block; float:left; }
    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width: 378px;  margin: 20px auto 0 !important; float: none;}
    .buttons-set .back-link {margin:10px 0;}
	.category-products .products-grid li.item {
		
	}
	
	/** Category Page **/
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container {
		
	}
	.catalog-category-view .category-products .products-grid li.item,
	.catalogsearch-result-index .category-products .products-grid li.item {
		
	}
	.pager .limiter {
	display: none;
	}
	.subcategory .catalog-listing .category-name {
	width: 100%;
	padding: 10px 0;
	}
	.subcategory ol {
	width: 95%;
	padding-left: 5%;
	}
	.block .block-title {
	width: 100%;
	}
	.col1-layout .product-view .product-shop {
	width: 33.3%;
	}
	.product-view .product-shop .col-view {
	width: 78%;
	}
	
	.product-view .product-shop .add-to-box {
		float: left;
		width: 100%;
	}
	.add-to-cart button.button {
		float: right;
	}
	/*Table Shopping Cart*/
	.data-table td.td-name h2 {
	font-size: 20px;
	font-weight: 300;
	}
	.data-table td.td-eidtcart, .data-table .btn-remove {
	display: none;
	}
	.data-table td.td-carttaxinfo, .data-table td.td-checkoutprice{
	padding: 10px;
	
	}
	.data-table td.td-cartqty {
	/* padding: 0 10px; */
	
	}
	.data-table .td-title {
	display: inline-block !important;
	width: 100px;
	padding: 0 10px 0 0;
	font-weight: bold;
	}
	td.td-removeitem{display:none !important;}
	.col-shipping {
	float: left;
	width: 100%;
	}
	.cart .shipping{float:none;}
	.cart .crosssell .no-crosssell {
	}
	.cart .discount {
	float: none;
	}
	.cart .discount .discount-form, .cart .shipping .shipping-form {
	margin-bottom: 0px;
	float: none;
	}
	.cart .discount input.input-text {
	width: 96%;
	}
	.cart .shipping .form-list input.input-text {
	width: 100%;
	height: 25px;
	}
	#shopping-cart-totals-table .a-right{text-align:left !important}
	.data-table tfoot tr {
		background: none !important;
	}
	.block .block-title {
	width: 100%;
	}
	.product-essential, .product-collateral{
	padding: 12px 0;
	}
	.sidebar .form-subscribe .input-box {
	width: 88%;
	}
	.sidebar .form-subscribe .input-box input {
	width: 98%;
	}
	.static_links_pan .promo {
		border-bottom: 1px dashed #CCCCCC;
		width: 287px;
		border-right: none;
	}
	.product-view .tabs{
		width: 694px;
	}
	.product-view .padder {
		width: 654px;
	}
	.box-up-sell, .block-related.category-products{width:49%;}
	.box-up-sell.category-products .products-grid li.item:hover, .block-related.category-products .products-grid li.item:hover{margin:19px !important;padding: 10px;}
	.box-up-sell .caroufredsel_wrapper, .block-related.category-products .caroufredsel_wrapper{height:275px !important;} 
}

/***** iPad (Lanscape) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .row { margin:0 auto; width: 100%;max-width: 768px; }
    .row .row { margin:0; width:auto; display:inline-block; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:270px; margin:0 15px 10px; float:left; display:inline; position:relative }
    .space_1, .space_2, .space_3, .space_4, .space_5, .space_6, .space_7, .space_8, .space_9, .space_10, .space_11 {
        margin-left:0;
    }
	.page {
		width: 768px;
		margin: 0 auto;
	}
	.main-container {
		margin: 0 auto;
		max-width: 768px;
	}

	.quick-access{padding: 15px 0 0;}
	.nav-container{padding:0;}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{padding: 0 12px;}
	.slideshow-container .title{width:auto;}
	.slideshow-product-container .salelabel-category-container, 
	
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 96.9%;
		padding: 0 12px;
	}
	/** Sale Label **/
	.catalog-category-view .salelabel-category-container,
	.catalogsearch-result-index .salelabel-category-container{
		top: -31px !important;
		left: 156px !important;
	}
	.catalog-category-view .products-grid li.item .ratings,
	.catalogsearch-result-index .products-grid li.item .ratings {
		padding: 0 93px;
	}
	/*** Promotion Container **/
	.promotion-container .promoBox.span12{display: table;}
	.static-R-4 .sampleBanner {
		width: 177px;;
	}	
	.footer-top, .footer-info {
		width: 768px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.footer-top .izzi-bottom-footer {
		width: 718px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;width: 230px;}
	.form-subscribe button.button span{padding: 3px 0px;}
	.social-link a{margin-right:5px;}
	.footer-container .footer-info {
		width: 744px;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 366px !important;}
	.about-block.static-footer{width: 100%;margin: 0;}
	.static-footer {width: 366px;}
	.izzi-position-footer, .copyright-container .row {
		width: 744px;
	}
	.footer-bottom .col-footer {
		width: 165px;
	}
	
	
	.quick-access .links{padding:0;}
	.quick-access .links li{padding-right:10px;}
	.mobile-nav {display:block !important;}
    .title-buttons {text-align:center}
    .title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 {float:none;}

    .prev-next {display:none; }

    .site-block {display:none;}
	.form-list li.wide textarea{
	width: 100% !important;
	}
	.form-list select {
	width: 100%;
	}

    .top-switch-bg .grid_6 {text-align:center; margin:0 15px 5px }
    ul.links { float:none; margin:0;}
    .links li{ line-height:120%; display:inline; padding:0 5px; text-align:center; white-space:nowrap; }
    .links li.separator {display:none; }

    .footer-banners {padding:25px 0 0; }
    .footer-info {padding:30px 0 0; }
    .footer-info .grid_3 {margin-bottom:0px; }
    .footer-info .grid_3 .block-content {margin-bottom:30px; }
    .footer-info ul.social {margin:10px 0 0; }
    .footer-info .block-control {display:block; }
    .footer-info .block-content {display:none; }
    footer { line-height:150%;}
    footer .grid_6{ text-align:center; }
    footer address{ margin:15px 0 0;}
    footer ul.links { float:none; }

    .language-switch, .currency-switch {display:none;}
    .language-select, .currency-select {display:block; width:50%; float:left; text-align:center; margin:5px 0 10px; }
    .language-select span, .currency-select span {display:none; }
    .language-select select, .currency-select select {width:125px; height:auto }
	.toolbar {
	width: 98%;
	padding: 5px;
	}
    .toolbar-switch .current { display:none; }
    .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
    .toolbar-switch select { display:inline; height:auto; }
	
	
    header a.logo { float:none; display:block; /* margin:20px 10px 10px; */ text-align:center; }
    header h1.logo { float:none; display:block; width: 50%;}
	.right-header {

	margin-top: 10px;
	}
    .top-dropdowns {width:240px; margin:8px auto 0; position:relative;}
    .cart-top-container {display:none; }
    .cart-top-title{display:block; float:left; width:110px; }
    .compare-top-container {display:none; }
    .compare-top-title{display:block; float:left; width:110px; }
    .search-top-container {margin:0; padding:0; float:none; clear:left; }
    .search-top-container .search-top, .search-top-container .search-form-border{display:none; }
    .search-top-container .search-form{display:block !important; opacity:1 !important; position:relative; top:0; left:0; margin:0 auto; padding:0 0 8px 0; background:none transparent; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; }
    .search-field #search {width:224px}
    .search-field #search_mini_form .form-search button {margin-left:216px}


    .mobile-nav, .mobile-nav  .nav-container, .mobile-nav  .nav-container .nav-top-title {display:block; }
    #mobile-nav{float:none; width:auto; margin:0 auto 10px; display:none;}
    #mobile-nav li { float:none; position:relative; width:auto; margin:0 auto 3px;}
    #mobile-nav li a { float:none; padding:0; }
    #mobile-nav li a span {padding:0px 10px; border:none;}
    #mobile-nav li:hover,
    #mobile-nav li.over,
    #mobile-nav li.active{ -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
    #mobile-nav>li>a:hover>span,
    #mobile-nav>li.over>a>span,
    #mobile-nav>li.active>a>span{border:none; background:transparent; color:#FF4A4A; }
    #mobile-nav>li>a:hover>em,
    #mobile-nav>li.over>a>em,
    #mobile-nav>li.active>a>em{color:#FF4A4A; }
    #mobile-nav li.custom-block { display:none !important;}
    #mobile-nav ul, #mobile-nav ul ul { display:none; position:static; margin:0; padding:5px 0 10px 5px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
    #mobile-nav ul li {width:auto; }

    .homepage-banners a .content{margin:14px;}
    .homepage-banners a .content .border{margin:5px 10px; }
    .homepage-banners a .content strong{font-size:24px; line-height:18px  }
    .homepage-banners a .content p{display:none;}
    .homepage-banners a .content button{margin:5px 0 0;}

	.col2-right-layout .col-main, .col2-right-layout .col-right{width:100%;}
    .col-main, .col-main-left, .col-main-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		
		margin-bottom: 15px;
	}
	.col-right {
	float: left;
	width: 100%;
	}
	.block .block-title {
	width: 100%;
	}
	.product-essential, .product-collateral{
	padding: 12px 0;
	}
	.sidebar .form-subscribe .input-box {
	width: 90%;
	}
	.sidebar .form-subscribe .input-box input {
	width: 98%;
	}
	/** Category page **/
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container{}
	.catalog-category-view .category-products .products-grid li.item,
	.catalogsearch-result-index .category-products .products-grid li.item {
		width: 241px;
	}
	
	
   
    .col1-layout .col-main {/* width: 300px; */ margin:0;}
    .col1-layout .col-main .products-grid { margin:0;}
	.col2-right-layout .col-main, .col2-right-layout .col-main{width:100%;}
    .col2-left-layout .products-grid,
    .col2-right-layout .products-grid { width:100%; margin:0 auto; }
	.col3-layout .col-wrapper {
		float: left;
		width: 100%;
	}
	.col3-layout .col-main{width:96%;}
	.category-products .products-grid li.item{
		
		float: left;
	}
	.products-grid li.item.last{display:none;}

    .col2-left-layout .page-title {}
    .catalog-category-view .col-left, .catalog-category-view .col-right {padding:0;}
    .cart .cart-collaterals .grid_4{
		
		width: 240px;
	}
	.custom-cart .discount-cart.grid_4 {
		margin: 0 21px;
	}
    .checkout-onepage-index .col-right {padding: 0px 0 0;
	float: none;
	margin: 0 auto;
	width: 100%; }
    .checkout-onepage-index .col-right .block { float:none; margin:0 auto 30px; }

    .breadcrumbs{ margin-left:0px; }

    .home-main .category-products {width:300px; margin:0 auto 30px ;}
    .home-main, .home-right {float:none; margin:30px auto 0}
    .home-main, .col1-layout .home-main .products-grid {width:300px;}

    .flexslider .slides .content{max-width:240px; margin:30px; }
    .flexslider .slides .content strong{font-size:32px; line-height:26px; }
    .flex-direction-nav {width:300px;display:none !important;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background:url('../images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    

    .block-login {width:300px;}
    .block-login .block-title {padding:29px 8px 50px;}
    .block-login .block-content {padding:0 18px 25px;}
    .block-login .new-users {width:300px;margin:0 0 -25px;}

    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-container-horizontal,
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-clip-horizontal {width:190px !important; overflow:hidden; }
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item {width:190px !important; margin:0}
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item img {display:block; width:140px; height:auto; margin:0 auto;}
    .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
    .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 0px;}
    .product-tabs, .tabs-content {display:none}
    .product-tabs-accordion {display:block}
    .product-view .box-tags .form-add .input-box {width:167px;}
    .product-view .box-tags .form-add input.input-text {width:167px;}

    .main .slider-container {width:300px; margin-left:0px }
    .main .slider-container h3 {width:190px; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .jcarousel-skin-tango .jcarousel-container-horizontal {width:300px;}

    .cart .page-title {height:auto;}
    .cart .page-title .checkout-types {margin:60px 15px 0; float:none;}
    .cart .title-buttons .checkout-types li {float:none; margin:0; text-align:center;}
    #shopping-cart-totals-table strong {padding:0 10px 0 0;}
    .data-table table, .data-table thead, .data-table tbody, table.data-table td, .data-table tr { display: block; border: 0;  text-align: left !important;}
    .data-table th { display:none;}
    .data-table td {padding:10px;width:auto;}
    .data-table td.td-name h2 {font-size:20px; font-weight:300; }
    .data-table td.td-image a {text-align:center; }
    .data-table td.td-image img {width:200px;}
    .data-table td.td-edit, .data-table .btn-remove {display:none;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
    .data-table td.td-price {padding:10px; background:#fafafa;}
    .data-table td.td-qty {padding:0 10px; background:#fafafa;}
    .data-table td.td-delete {background:#fafafa; text-align:center !important;}
    .data-table .td-title {display:inline-block; width:100px; padding:0 10px 0 0; font-weight:bold; }
    .data-table .td-actions {display:inline; padding:0 5px; }
    .data-table .button, .data-table .btn-continue {}
    .product-tabs-content .data-table th { display:block;}
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; }
    #product-review-table th{display:table-cell; padding:8px 3px; }

    #toTop {display:none !important;}

    .pager {text-align:center; }
    .pager .amount {margin:0 0 10px;}
    .pager .pages, .pager .amount {float:none}
    .top-opc {width:300px; margin:0}
    .top-opc li{margin:0 0 30px 0}
    .opc {width:100%;}
    .opc .form-list select {width:126px}
    .opc .td-label {display:block; float:left; }
    #checkout-review-submit p {margin:0 20px 0 0;}
    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width:228px;  margin: 20px auto 0 !important; float: none;}
    #checkout-step-login input.input-text {width:100%;}
	.page-title {
	margin: 0;
	}
	.form-list .input-box {
	width: 100%;
	}
	.opc .buttons-set p.required {
	display: none;
	}
    .form-list li.wide select {width:250px}

    .col2-set .col-1, .col2-set .col-2 {float:none; width:100%;}
    .col2-set address {margin:5px 0;}
    .buttons-set .back-link {margin:10px 0;}
	.back-to{display:none;}
	.pager .limiter {
	display: none;
	}
	.toolbar .sorter {
		padding: 3px 0px;
	}
	.sorter .sort-by {
	padding-right: 15px;
	}
	.col1-layout .product-view .product-shop {
		float: left;
		width: 50%;
		border:none;
		padding:0;
	}
	.prevNextNavigation {
		right: 30px;
		top: 2px;
	}
	.product-view .product-shop .col-view {
	float: left;
	width: 100%;
	padding:0px;
	border: none;
	}
	.product-view .product-shop .right-view {
	display: none;
	}
	
	
	.product-view .product-img-box {
		float: left;
		width: 44%;
		text-align: center;
	}
	.static_links_pan .promo {
	border-bottom: 1px dashed #CCCCCC;
	border-right: none;
	width: 348px;
	}
	.product-view .product-shop .add-to-links li{margin:0;}
	.product-view .tabs{
		width: 100%;
	}
	.product-collateral .padder{width:100%}
	/*Table Shopping Cart*/
	.data-table td.td-name h2 {
	font-size: 20px;
	font-weight: 300;
	}
	.data-table td.td-eidtcart, .data-table .btn-remove {
	display: none;
	}
	.data-table td.td-carttaxinfo, .data-table td.td-checkoutprice{
	padding: 10px;
	background: #fafafa;
	}
	.data-table td.td-cartqty {
	padding: 10px;
	background: #fafafa;
	}
	.data-table .td-title, .data-table .td-title{
	display: inline-block !important;
	width: 100px;
	padding: 0 10px 0 0;
	font-weight: bold;
	}
	td.td-removeitem{display:none !important;}
	.col-shipping {
	float: left;
	width: 100%;
	}
	.cart .shipping{float:none;}
	.cart .crosssell .no-crosssell { display:none;
	}
	.cart .discount {
	float: none;
	}
	.cart .discount .discount-form, .cart .shipping .shipping-form {
	margin-bottom: 0px;
	float: none;
	}
	.cart .discount input.input-text {
	width: 96%;
	}
	.cart .shipping .form-list input.input-text {
	width: 100%;
	height: 25px;
	}
	#shopping-cart-totals-table .a-right{text-align:left !important}
	.data-table tfoot tr {
		background: none !important;
	}
	.form-list .field {
	float: left;
	width: 100%;
	}
	.col-left {
	width: 100%;
	
	}
	.block .block-title {
	width: 100%;
	height: 25px;
	}
	.product-essential, .product-collateral{
	padding: 12px 0;
	}
	.subcategory ol {
	padding-left: 5%;
	}
	.sidebar .block-cart{display:none;
	}
	.sidebar .form-subscribe .input-box {
	width: 86%;
	}
	.sidebar .form-subscribe .input-box input {
	width: 98%;
	}
	.cart .crosssell {
		border: 1px solid #DDD;
		background: #F7F7F7;
		padding: 10px;
		
		margin-right: 0;
	}
	.custom-cart .data-table tr.tr-arround {
		width: 95.8%;
	}
	#crosssell-products-list .add-to-links li{padding:0;display:inline;float:none;}
	.custom-cart .crosssell .price-box{margin-bottom:0;}
	.product-right-info{display:none;}
	.box-up-sell, .block-related.category-products{width:49%;}
	.box-up-sell.category-products .products-grid li.item:hover, .block-related.category-products .products-grid li.item:hover{/* margin:19px !important;padding: 10px; */}
	.box-up-sell .caroufredsel_wrapper, .block-related.category-products .caroufredsel_wrapper{height:245px !important;} 
	
	.col2-left-layout .block-layered-nav{}
	.col2-left-layout .block-layered-nav .block-title{border: none;cursor: pointer; line-height:0;}
	.col2-left-layout .block-layered-nav .block-content{display: none;padding: 0;margin: 1em 0 0;}
	.col2-left-layout .block-layered-nav dt{cursor: pointer;padding: 5px; border: 1px solid #ddd; margin: 0 0 .5em;}
	.col2-left-layout .block-layered-nav dt:hover{background: #227fbb; color: #fff; -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; }
	.col2-left-layout .block-layered-nav .block-title:hover{text-decoration: underline;}
	.col2-left-layout .block-layered-nav .block-title:after,
	.col2-left-layout .block-layered-nav dt:after {font-family: FontAwesome; content: "\f054"; float: right; }
	.col2-left-layout .block-layered-nav .block-title.active:after,
	.col2-left-layout .block-layered-nav dt.active:after {content: "\f078"; }
	.col2-left-layout .block-layered-nav dd{display: none;margin: 0 0 1em;}
	.col2-left-layout .block-layered-nav dd li{text-indent: 1em;position: relative;}
	.col2-left-layout .block-layered-nav dd li:hover:after{font-family: FontAwesome;content: "\f0da";position: absolute;left: -13px;}
	.col2-left-layout .block-layered-nav .block-subtitle{display: none;}
}

/***** iPhone (landscape) *****/

@media only screen and  (max-width: 767px) {
	.product-image .mousetrap, #cloud-zoom-big{display:none}

}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .row { margin:0 auto; width:100%;max-width:600px !important; }
    .row .row { width:600px; display:inline-block; margin:0 -15px; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:426px; margin:0 15px 25px; float:left; display:inline; position:relative }
	
	.col-main, .col-left, .col-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.page {
		width: 600px;
		margin: 0 auto;
	}
	.header .logo {
		text-align: center;
		width: 100%;
	}	
	.main-container {
		margin: 0 auto;
		max-width: 600px;
	}
	.catalog-product-view .main-container {
		
	}
	.product-view .product-shop {
	width: 580px;
	}
	.product-collateral {
		padding: 12px 0;
	}
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container {
		padding: 0 12px;
	}
	.catalog-category-view .category-products .products-grid li.item,
	.catalogsearch-result-index .category-products .products-grid li.item {
		width: 177px;
	}
	.category-products .products-grid li.item.last{display:none;}
	.nav-container{padding:0;}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{padding: 0 12px;}
	.slideshow-container .title{width:auto;}
	.slideshow-product-container .mix_wrapper,
	.slideshow-product-container .mix_wrapper .caroufredsel_wrapper{min-height:385px !important;}
	ul.featured li{min-height:340px !important}
	.mix_wrapper ul li.item .itemInner {
		padding: 8px 8px 44px 8px;
	}
	
	.new-product-container, .brand-container {
		float: left;
		margin: 0;
		display: block;
		width: auto;
		padding: 0 12px;
	}
	
	#explodedmenu{width:744px !important}
	#nav { width:510px; }
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 96%;
		padding: 0 12px;
	}
	
	/*** Promotion Container **/
	.promotion-container{display:inline-block;padding:0 12px;}
	.promotion-container .promoBox.span12{display: block;}
	.static-R-4 .sampleBanner {
		width: 282px;
	}
	.static-R-4 .sampleBanner.ads2, .static-R-4 .sampleBanner.ads4{margin-right:0;}
	.footer-top, .footer-info {
		width: 573px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.social-link {
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 10px;
	}
	.footer-top .izzi-bottom-footer {
		width: 547px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;}
	.form-subscribe button.button span{padding: 3px 0px;}
	form#newsletter-validate-detail{display: inline-block;text-align: center;}
	.social-link a{margin-right:5px;}
	.footer-container .footer-info {
		width: 573px;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 280px !important;}
	.about-block.static-footer{width: 100%;margin: 0;}
	.static-footer {width: 280px;}
	.izzi-position-footer, .copyright-container .row {
		width: 576px;
	}
	.footer-bottom .col-footer {
		width: 120px;
	}
	
	.custom-cart .data-table tr.tr-arround {
		width: 94.7%;
	}
    .links li{ line-height:150%; display:inline; }
	.quick-access {padding:15px 0 0;float:left;width:100%;}
	.cart-top {height: auto !important;margin:0;}
	.quick-access .links{padding-left:0;}
	.quick-access .links li {
		display: inline;
		padding: 0 5px 0 0;
		float: left;
	}
	.block-cart-header {
	float: left;
	border: none;
	position: relative;
	width: 100%;
	}
	.block-cart-header .summary{
	background-image:none;height: 15px;
	margin: 0;
	padding: 12px;
	position: relative;
	}
	.res-menu h2 {
		width: 255px;
	}
	.block-cart-header #header-items{top: 39px;}
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }

    .col1-layout .col-main {/* width: 300px; margin:0 0 0 84px; */}
    .col1-layout .col-main .products-grid { margin:0;}
	.col2-right-layout .col-main, .col2-right-layout .col-main{width:100%;}
    .cart .cart-collaterals .grid_4{
		width: 191px;
		float: left;
	}
	.custom-cart .discount-cart.grid_4 {
		float: left;
		margin: 0 10px;
	}
    .homepage-banners a .content p{display:block;}

    .flexslider .slides .content{max-width:396px; margin:30px; }
    .flex-direction-nav {width:456px;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background:url('../images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    .main .slider-container {margin-left:0 }
    .breadcrumbs{ margin-left:0px; }
	.iosSlider{height: 250px;}
	.text1, .text2{display:none;}
	.col3-layout .category-products .products-grid li.item {
	width: 183.5px;
	}
	.col3-layout .category-products .products-grid li.last{display:none;}
	.category-products .products-grid li.item {
		width: 185px;
		float: left;
	}
	.products-grid li.item .ratings {
		
	}
	.products-grid .actions {
	bottom: -15px;
	}
	.home-page-peoduct .products-grid li.item-4, .home-page-peoduct .products-grid li.item-9{margin-left:19%;}
	.homepage-banners {width:300px !important;}
    .homepage-banners .grid_6{width:300px;}
    .homepage-banners a .content p{display:none;}
	.top-footer .bonus-gift-card{
	padding: 0%;
	margin: 0;
	border: none;
	float: right;}
	
	.footer .f-left, .footer .f-right {
	width: 100% !important;
	text-align: center;
	}
	.footer .payment-method ul li {
	float: none;
	}
	.footer .payment-method ul {
		float: none;
	}
	.footer .end-footer {
		float: left;
		margin: 0;
	}
	#slide-more-view .controls-view a.ico-next {
		right: 55px;
	}
	#view-upsell .slide {
		padding: 10px 0px;
		width: 190px;
	}
	.add-to-cart button.button {
		margin: 0px 0 5px 90px;
	}
	.form-list li.wide .input-box {
		width: 100%;
	}
	.form-list li.wide input.input-text {
		width: 100%;
	}
	.form-list .field {
		float: left;
		width: 100%;
	}
	.col-right {
		float: left;
		width: 100%;
	}
	.block .block-title {
		width: 100%;
		padding: 15px 0px 0;
	}
	#example-1 .slide, #example-2 .slide{padding: 10px 0px;}
	.footer .col5-footer{display:none;}
	.top-footer .telephone{float:left}
	.subcategory .catalog-listing .category-name{width: 96%;}
	/** Product View **/
	.product-view .product-img-box{width:100%;}
	.product-view .product-img-box .product-image img{margin:0 auto;}
	.col1-layout .product-view .product-shop{width:331px;margin:12px 0 0;}
	.static_links_pan .promo {
		border-bottom: 1px dashed #CCCCCC;
		border-right:none;
		width: 307px;
	}
	.product-collateral .productd-banner-2{display:none;}
	.product-view .tabs{
		width: 100%;
		float: left;
	}
	.product-image .mousetrap, #cloud-zoom-big{display:none !important;}
	.product-collateral .padder{width: 95.6%;padding: 0 2%;}
	.padder #upsell-product-table tr td{width:150px;}
	.box-up-sell, .block-related.category-products{width:100%;}
	.box-up-sell.category-products .products-grid li.item:hover, .block-related.category-products .products-grid li.item:hover{margin:19px !important; padding:10px;}
	.box-up-sell .caroufredsel_wrapper, .block-related.category-products .caroufredsel_wrapper{height:375px !important;} 
	.sidebar .form-subscribe .input-box {
		width: 455px;
	}
	.sidebar .form-subscribe .input-box input {
		width: 440px;
		height: 27px;
		line-height: 20px;
	}
}
@media only screen and  (max-width: 599px) {
	.header .logo {
		float: left;
		width: 100%;
		text-align: center;
		padding-bottom: 5px;
	}
	.product-image .mousetrap{width:100% !important;}
	.box-up-sell, .block-related.category-products{width:100%;}

}
@media only screen and (max-width: 500px){
.col2-set .col-1, .col2-set .col-2 {
		float: left;
		width: 100%;
	}
}
	
/***** iPhone (landscape) *****/

@media only screen and (min-width: 500px) and (max-width: 599px) {
    .row { margin:0 auto; width:100%;max-width:500px !important; }
    .row .row { width:500px; display:inline-block; margin:0 -15px; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:500px; margin:0 15px 25px; float:left; display:inline; position:relative }
	.col-main, .col-left, .col-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.page {
		width: 500px;
		margin: 0 auto;
	}
	.top-links-left {
		
		width: 100%;
	}
	.top-links-right {
	display: none;
	}
	.main-container {
		margin: 0 auto;
		max-width: 500px;
	}
	.main-container {
	}
	.nav-container{padding:0;}
	.quick-access {padding:15px 0 0;width: 100%;}
	.cart-top {
		margin: 0;
		height: auto !important;
	}
	.quick-access .links{padding:0;}
	.quick-access .links a {
		height: 86px;
		width: 86px;
	}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{}
	.slideshow-container .title{width:auto;}
	.slideshow-product-container .mix_wrapper,
	.slideshow-product-container .mix_wrapper .caroufredsel_wrapper{/* min-height:425px !important; */}
/* 	ul.featured li{min-height:420px !important} */
	.mix_wrapper ul li.item .itemInner {
		padding: 8px 8px 44px 8px;
	}
	
	.new-product-container, .brand-container {
		float: left;
		margin: 0;
		display: block;
		width: auto;
		padding: 0 12px;
	}
	
	#nav { width:510px; }
	.nav-respon {
		display: block;
		font-size: 13px;
		margin: 0 auto;
		padding: 0;
		float: left;
		width: 100%;
	}	
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 95%;
		padding: 0 12px;
	}
	/*** Promotion Container **/
	.promotion-container{display:inline-block;padding:0 12px;}
	.promotion-container .promoBox.span12{display: block;}
	.static-R-4 .sampleBanner {
		width: 220px;
	}
	.static-R-4 .sampleBanner.ads2, .static-R-4 .sampleBanner.ads4{margin-right:0;}
	.footer-top, .footer-info {
		width: 500px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.social-link {
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 10px;
	}
	.footer-top .izzi-bottom-footer {
		width: 450px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;}
	.sidebar .form-subscribe .input-box input {
		width: 98%;
	}
	.form-subscribe button.button span{padding: 3px 0px;}
	
	.social-link a{margin-right:5px;}
	.footer-container .footer-info {
		width: 476px;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 232px !important;}
	.about-block.static-footer{width: 100%;margin: 0;}
	.static-footer {width: 232px;}
	.izzi-position-footer, .copyright-container .row {
		width: 476px;
	}
	.footer-bottom .col-footer {
		width: 102px;
	}
	.footer-bottom .col-footer {
		float: left;
		margin: 0 10px 0 0;
	}
	.block-cart-header {
		float: left;
		border: none;
		position: relative;
		width: 100%;
	}
	.block-cart-header .summary{
		background-image:none;height: 15px;
		margin: 0;
		padding: 12px;
		position: relative;
	}
	.res-menu h2 {
		width: 90%;
	}
	.block-cart-header #header-items{top: 39px;}
	.seach-box-container {
		display: inline-block;
		margin: 0;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		padding: 10px 0;
		z-index: 1;
		height: 33px;
		background: none repeat scroll 0 0 #58BAE9;
		width: 100%;
	}
	.form-search {
		float: left;
		margin: 0 0 0 12px;
	}
	.izzitemp-copyright, .izzitemp-payment{
		float: left;
		text-align: center;
		width: 100%;
	}
	.izzitemp-payment {
		margin-top: 10px;
	}
	
    .links li{ line-height:150%; display:inline;}
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }

    .col1-layout .col-main {/* width: 300px; margin:0 0 0 84px; */}
    .col1-layout .col-main .products-grid { margin:0;}
    .cart .cart-collaterals .grid_4{width: 100%;
	float: left;
	margin: 0 0px 25px;}
	
	/** Catagory Page **/
	.catalog-category-view .main-container{padding: 0 12px;}

    .homepage-banners a .content p{display:block;}

    .flexslider .slides .content{max-width:396px; margin:30px; }
    .flex-direction-nav {width:500px;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background:url('../images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    .main .slider-container {margin-left:0 }
    .breadcrumbs{ margin-left:0px; }
	.iosSlider{height: 208px;}
	.text1, .text2{display:none;}
	#example-1 .slide, #example-2 .slide {
		padding: 10px 22px;
	}
	.category-products .products-grid li.item {
		width: 152px;
		float: left;
		margin-bottom: 10px;
	}
	.category-products .products-grid li.item-4, .category-products .products-grid li.item-9 {margin-left:17%;}
	.toolbar {
		width: 100%;
	}
	.col3-layout .category-products .products-grid li.item {
		width: 143px;
	}
	.toolbar .sorter {
		width: auto;
	}
	.sorter .sort-by, .sorter .limiter{display:none;}
	.products-grid li.item .ratings {
		
	}
	.catalog-category-view .category-products .products-grid li.item,
	.catalogsearch-result-index .category-products .products-grid li.item {
		width: 228px;
	}
	.catalog-category-view .category-products .products-grid li.item .ratings,
	.catalogsearch-result-index .category-products .products-grid li.item .ratings{
		padding: 0 88px;
	}
	.col2-left-layout .products-grid, .col2-right-layout .products-grid {
		margin-bottom: 10px;
	}
	
	.category-products .products-grid li.item{
		
	}
	.products-grid .actions {
		bottom: -15px;
	}
	.sidebar .form-subscribe .input-box {
		width: 85%;
	}
	.homepage-banners {width:300px !important;}
    .homepage-banners .grid_6{width:300px;}
    .homepage-banners a .content p{display:none;}
	.top-footer .bonus-gift-card{
		padding: 0%;
		margin: 0;
		border: none;
		float: right;
	}
	.footer .col1-footer {
		float: left;
		width: 150px;
		margin: 0;
	}
	.footer .col2-footer {
		float: left;
		width: 145px;
		margin: 0;
	}
	.footer .col3-footer {
		float: left;
		width: 140px;
		margin-right: 0;
	}
	.footer .col4-footer {
		float: left;
		width: 150px;
		margin: 0;
	}
	.footer .f-left, .footer .f-right {
		width: 100% !important;
		text-align: center;
	}
	.footer .payment-method ul li {
		float: none;
	}
	.footer .payment-method ul {
		float: none;
	}
	.footer .end-footer {
		float: left;
		margin: 0;
	}
	#slide-more-view .controls-view a.ico-next {
		right: 55px;
	}
	#view-upsell .slide {
		padding: 10px 0px;
		width: 227px;
	}
	.form-list li.wide .input-box {
		width: 100%;
	}
	.form-list li.wide input.input-text {
		width: 100%;
	}
	.form-list .field {
		float: left;
		width: 100%;
	}
	.col-right {
		float: left;
		width: 100%;
	}
	.block .block-title {
		width: 100%;
		padding: 15px 0px 0;
	}
	.catalog-category-view .regular-price .price {
		float: none;
	}
	
	.add-to-cart button.button {
		margin: 0px 0 5px 70px;
	}
	.catalog-category-view .salelabel-category-container{
		top: -25px !important;
		left: 142px !important;
	}
	/** Product View **/
	.product-view .product-shop {
		float: left;
		width: 480px;
		background: #fff;
		padding: 10px;
	}
	.product-view .product-img-box{width:100%;}
	.col1-layout .product-view .product-shop{width:476px;padding:0;margin:0;border:none;}
	.static_links_pan .promo{width: 134px;}
	.product-right-info{
		float: left;
		margin-bottom: 1%;
		padding-top: 10px;
		width: 100%;
		padding-left: 0;
	}
	.product-collateral .productd-banner-2{display:none;}
	.product-collateral {
		padding: 12px 0;
	}
	.product-view .tabs{
		width: 100%;
		float: left;
	}
	.product-collateral .padder{width: 95.6%;padding: 0 2%;}
	.box-up-sell .caroufredsel_wrapper, .block-related.category-products .caroufredsel_wrapper{height:350px !important;}
	
}
/***** iPhone (landscape) *****/
@media only screen and (min-width: 380px) and (max-width: 499px) {
    .row { margin:0 auto; max-width:380px !important; width:100%; }
    .row .row { width:380px; display:inline-block; margin:0 -16px; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:380px; margin:0 15px 25px; float:left; display:inline; position:relative }
	
	.col-main, .col-left, .col-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.sorter .sort-by, .sorter .limiter{display:none;}
	.page {
		width: 380px;
		margin:0 auto;
	}
	.main-container {
		margin: 0 auto;
		max-width: 380px;
	}
	.catalog-product-view .main-container {
		
	}
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container{padding: 0 12px;}
	.nav-container{padding:0;}
	.quick-access .links{padding:0;}
	.quick-access .links li {
		display: inline;
		padding: 0;
		margin-left: 8px;
		float: left;
		margin-top: 10px;
	}
	.quick-access .links a {
		height: 142px;
		width: 142px;
	}
	.top-links-left {
	width: 100%;
	}
	.top-links-right{display:none;}
	.quick-access {
	float: left;
	width: 100%;
	}
	.form-search input.input-text{width:165px;}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{}
	.slideshow-container .title{width:auto;}
	.slideshow-product-container .mix_wrapper,
	.slideshow-product-container .mix_wrapper .caroufredsel_wrapper{height:350px !important;}
	.category-products .products-grid li.item{width: 174px;}
	.products-grid li.item-3, .products-grid li.item-8{margin-left:0 !important;}
/* 	.products-grid li.item-5, .products-grid li.item-10{margin-left:15%;} */
	#nav { width:510px; }
	.nav-respon {
		display: block;
		font-size: 13px;
		margin: 0 auto;
		padding: 0;
		float: left;
		width: 100%;
	}	
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 93.6%;
		padding: 0 12px;
	}
	/*** Promotion Container **/
	.promotion-container{display:inline-block;padding:0 12px;}
	.promotion-container .promoBox.span12{display: block;}
	.static-R-4 .sampleBanner {
		width: 172px;
	}
	.static-R-4 .sampleBanner.ads2, .static-R-4 .sampleBanner.ads4{margin-right:0;}
	.footer-top, .footer-info {
		width: 380px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.social-link {
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 10px;
	}
	.footer-top .izzi-bottom-footer {
		width: 330px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;}
	.sidebar .form-subscribe .input-box input {
		width: 98%;
		height: 27px;
		line-height: 20px;
	}
	.form-subscribe button.button span{padding: 3x 0px;}
	
	.social-link a{margin-right:-3px;}
	.footer-container .footer-info {
		width: 356px;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 356px !important;}
	.static-footer{width: 100%;margin: 0;}
	
	.izzi-position-footer, .copyright-container .row {
		width: 356px;
	}
	.footer-bottom .col-footer {
		width: 160px;
	}
	.footer-bottom .col-footer {
		float: left;
		margin: 0 10px 0 0;
	}
	.izzitemp-copyright, .izzitemp-payment{
		float: left;
		text-align: center;
		width: 100%;
	}
	.izzitemp-payment {
		margin-top: 10px;
	}
	.block-cart-header {
		float: left;
		border: none;
		position: relative;
		width: 100%;
	}
	.block-cart-header .summary{
		background-image: none;
		height: 15px;
		margin: 10px 0 0;
		padding: 12px;
		position: relative;
	}
	.res-menu h2 {
		width: 85%;
	}
	.block-cart-header #header-items{top: 39px;}
	.seach-box-container {
		display: inline-block;
		margin: 0;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		padding: 10px 0;
		z-index: 1;
		height: 33px;
		background: none repeat scroll 0 0 #58BAE9;
		width: 100%;
	}
	.form-search {
		float: left;
		
	}
	.cart-top {
		margin: 0;
		height: auto !important;
	}
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }
	.products-grid li.item .ratings {
	
	}
	
	
    .col1-layout .col-main {/* width: 300px; margin:0 0 0 84px; */}
    .col1-layout .col-main .products-grid { margin:0;}
	.col3-layout .col-main {
		width: 94.5%;
	}
    .cart .cart-collaterals .grid_4{width: 100%;
	float: left;
	margin: 0 0px 25px;}
	.sorter .sort-by {
	display:none;
	}
    .homepage-banners a .content p{display:block;}

    .flexslider .slides .content{max-width:380px; margin:30px; }
    .flex-direction-nav {width:380px;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background:url('../images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    .main .slider-container {margin-left:0 }
    .breadcrumbs{ margin-left:0px; }
	.iosSlider{height: 208px;}
	.text1, .text2{display:none;}
	#example-1 .slide, #example-2 .slide {
	padding: 10px 95px;
	}
	.iosSlider{height: 158px;}
	.content-home .banner-home {
		margin-right: 0%;
		width: 100%;
		}
	.content-home .col1-home {	margin-bottom: 15px;}
	.homepage-banners {width:380px !important;}
    .homepage-banners .grid_6{width:380px;}
    .homepage-banners a .content p{display:none;}
	.top-footer .bonus-gift-card{
	padding: 0%;
	margin: 0;
	border: none;
	float: left;}
	.top-footer .telephone {
	float: left;
	}
	
	.footer .payment-method ul li {
	float: none;
	}
	.footer .payment-method ul {
	float: none;
	}
	.footer .end-footer {
	float: left;
	margin: 0;
	}
	#slide-more-view .controls-view a.ico-next {
	right: 55px;
	}
	#view-upsell .slide {
	padding: 10px 65px;
	width: 245px;
	}
	.form-list li.wide .input-box {
		width: 100%;
	}
	.form-list li.wide input.input-text {
		width: 100%;
	}
	.form-list .field {
	float: left;
	width: 100%;
	}
	.col1-layout .product-view .product-shop{
		width: 100%;
		padding: 0;
		float:left;
		margin:0;
		border:none;
	}
	.product-view .product-shop .add-to-links li{margin:0}
	.product-view .product-shop .add-to-links li a{padding:8px 10px 8px 21px;}
	.product-right-info {
		float: left;
		padding: 10px 0 0;
		width: 100%;
	}
	.static_links_pan .promo {
		border-bottom: 1px dashed #CCCCCC;
		border-right: none;
		width: 334px;
	}
	.product-collateral .productd-banner-2{display:none;}
	.product-view .tabs{
		width: 100%;
		float: left;
	}
	.product-view .tabs li {
		width: 100%;
	}
	.tabs li a{padding: 10px}
	.product-collateral .padder{width: 95.2%;padding: 0 2%;}
	.catalog-category-view .category-products .products-grid li.item,
	.catalogsearch-result-index .category-products .products-grid li.item {
		width: 168px;
		height: auto !important;
	}
	.catalog-category-view .category-products .products-grid li.item.last,
	.catalogsearch-result-index .category-products .products-grid li.item.last{margin-left:0;}
	.box-up-sell.category-products .products-grid li, .block-related.category-products .products-grid li{height:220px;}
	.col3-layout .category-products .products-grid li.item {
		width: 45%;
		margin-bottom: 10px;
	}
	.catalog-category-view .regular-price .price {
	float: none;
	}
	
	.category-products .products-grid li.last{margin-left:26%;}
	.tab-view {
	max-width: 251px;
	}
	.add-to-cart button.button {
	margin: 0px 0 5px 20px;
	}
	.product-collateral .product-tabs-content {
	width: 90%;
	}
	.sidebar .form-subscribe .input-box {
		width: 81%;
	}
	.catalog-category-view .salelabel-category-container{
		top: -25px !important;
		left: 260px !important;
	}
	.box-up-sell .caroufredsel_wrapper, .block-related .caroufredsel_wrapper{height:265px !important;}
	.box-up-sell .products-grid li.item:hover, .related_container .products-grid li.item:hover{margin:19px !important;padding:10px;}
	.box-up-sell .products-grid li.item, .related_container .products-grid li.item{height:200px !important;}
	.footer .f-left {
		width: 100%;
		float: left;
	}
	.product-view .product-img-box {
		float: left;
		width: 100%;
	}
	.product-view .product-shop {
		width: 360px;
		padding: 10px;
	}
	.product-collateral {
		padding: 12px 0;
	}
}
@media only screen and (min-width: 321px) and (max-width: 379px) {
	.row { margin:0 auto; width:100%;max-width:321px !important }
    .row .row { width:321px; display:inline-block; margin:0 -16px; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:321px; margin:0 15px 25px; float:left; display:inline; position:relative }
	.col-main, .col-left, .col-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.page {
		width: 321px;
		margin:0 auto;
	}
	.top-links-left {
	width: 100%;
	}
	.top-links-left .links {
		float: left;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
	.top-links-right {
		float: left;
		text-align: center;
		width: 100%;
	}
	.quick-access {
		float: left;
		width: 100%;
	}
	.top-links-left .welcome-msg{display:none;}
	.main-container {
		margin: 0 auto;
		max-width: 321px;
	}
	
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container {padding:0 12px;}
	.nav-container{padding:0;}
	.quick-access .links{padding:0;}
	.quick-access .links li {
		display: inline;
		padding: 0;
		margin-left: 8px;
		float: left;
		margin-top: 10px;
	}
	.quick-access .links li.top-link-3 {display:none;}
	.quick-access .links a {
		height: 113px;
		width: 113px;
	}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{/* padding: 0 12px; */}
	.slideshow-container .title{width:auto;}
	/** Set Height to Slideshow Product **/
	.slideshow-product-container .mix_wrapper,
	.slideshow-product-container .mix_wrapper .caroufredsel_wrapper{/* min-height:425px !important; */width:100%;}
	
	
	.nav-respon {
		display: block;
		font-size: 13px;
		margin: 0 auto;
		padding: 0;
		float: left;
		width: 100%;
	}	
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 92%;
		padding: 0 12px;
	}
	/*** Promotion Container **/
	.promotion-container{display:inline-block;padding:0 12px;}
	.promotion-container .promoBox.span12{display: block;}
	.static-R-4 .sampleBanner {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.static-R-4 .sampleBanner.ads2, .static-R-4 .sampleBanner.ads4{margin-right:0;}
	.footer-top, .footer-info {
		width: 321px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.social-link {
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 10px;
	}
	.footer-top .izzi-bottom-footer {
		width: 271px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;}
	.sidebar .form-subscribe .input-box input {
		width: 98%;
		height: 27px;
		line-height: 20px;
	}
	.form-subscribe button.button span{padding: 3px 0px;}

	.social-link a{margin-right:-3px;padding: 20px;}
	.social-link a.shareLink {
		background-position: -10px -106px;
	}
	.social-link a.facebookLink {
		background-position: -7px -417px;
	}
	.social-link a.twitterLink {
		background-position: -10px -45px;
	}
	.social-link a.googleLink {
		background-position: -10px -355px;
	}
	.social-link a.inLink {
		background-position: -11px -235px;
	}
	.social-link a.youtubeLink {
		background-position: -11px -667px;
	}
	.social-link a.dribbleLink {
		background-position: -11px -546px;
	}
	.footer-container .footer-info {
		width: 297px;
		display: inline-block;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 297px !important;}
	.static-footer{width: 100%;margin: 0;}
	
	.izzi-position-footer, .copyright-container .row {
		width: 297px;
	}
	.footer-bottom .col-footer {
		width: 90%;
	}
	.footer-bottom .col-footer {
		float: left;
		margin: 0 0px 10px 0;
	}
	.izzitemp-copyright, .izzitemp-payment{
		float: left;
		text-align: center;
		width: 100%;
	}
	.izzitemp-payment {
		margin-top: 10px;
	}
	.block-cart-header {
		float: left;
		border: none;
		position: relative;
		width: 100%;
	}
	.block-cart-header .summary{
		background-image: none;
		height: 15px;
		margin: 10px 0 0;
		padding: 12px;
		position: relative;
		width: auto;
	}
	.res-menu h2 {
		width: 85%;
	}
	.block-cart-header #header-items{top: 49px;right: -8px;}
	.seach-box-container {
		display: inline-block;
		margin: 0;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		padding: 10px 0;
		z-index: 1;
		height: 33px;
		background: none repeat scroll 0 0 #58BAE9;
		width: 100%;
	}
	.form-search {
		float: left;
		margin: 0;
	}
	.form-search  label{display:none;}
	.form-search input.input-text {
	width: 170px;
	}
	.cart-top {
		margin: 0;
		height: auto !important;
	}
	#search_mini_form {
		float: left;
		margin-top: 27px;
	}
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }

	.iosSlider {height:134px;}
	.text1, .text2{display:none;}
	.content-home .banner-home {
		margin-right: 0%;
		width: 100%;
		}
	.content-home .col1-home {	margin-bottom: 15px;}
	#view-upsell .slide, #example-1 .slide, #example-2 .slide {
		padding: 10px 60px;
	}
	.top-footer .bonus-gift-card{
	padding: 0%;
	margin: 0;
	border: none;
	float: left;
	width:100%;}
	
	.footer .f-left {
	width: 100% !important;
	text-align: center;
	}
	.footer .f-right {
		width: 100%;
	}

	.footer .payment-method ul li {
	margin-bottom: 5px;
	}
	.sorter .sort-by, .sorter .limiter {
	display: none;
	}
	.col2-right-layout .category-products, .col2-left-layout .category-products {
	width: 93%;
	}
	.category-products .products-grid li.item {
		height: auto !important;
		float: left;
		margin-bottom: 10px;
		margin:0;
		width:100%;
	}
	.col3-layout .category-products .products-grid li.item {
	width: 100%;
	margin:0 0 10px 0;
	}
	.product-view .product-shop {
		width: 93.6%;
		padding: 10px;
	}
	.category-products .products-grid li.last {
	display: block;
	}
	.add-to-cart button.button {
	float: right;
	}

	.tab-view {
	max-width: 250px;
	margin: 10px auto 0 14px;
	}
	.product-collateral {
	padding: 0;
	}
	.product-collateral .product-tabs-content {
	width: 88%;
	}
	.add-to-box {
	margin: 10px 0;
	float: left;
	width: 100%;
	}
	.end-view {
	display:none;
	}
	.form-list li.wide .input-box {
		width: 100%;
	}
	.form-list li.wide input.input-text {
		width: 100%;
	}
	.form-list .field {
	width: 100%;
	}
	.form-list input.input-text {
	width: 100%;
	}
	.col-right {
	float: left;
	width: 100%;
	}
	.block .block-title {
	width: 100%;
	padding: 15px 0px 0;
	}
	
	.products-grid li.item .ratings {
		padding: 0 125px;
	}
	.cart .cart-collaterals .grid_4 {
	width: 100%;
	}
	.sidebar .form-subscribe .input-box {
		width: 77%;
	}
	.catalog-category-view .salelabel-category-container{
		top: -13px !important;
		left: 225px !important;
	}
	
	.products-list .product-image{float: none;
		width: 100%;
		height: auto;
		margin: 0 auto 10px;
		text-align: center
	}
	.products-list .product-shop{margin:0;}
	/** Product View **/
	
	.product-view .product-img-box,
	.moreviews-container .mix_wrapper .mix_inner{
		width: 100%;
	}
	.moreviews-container .more-views{width: 275px;}
	.col1-layout .product-view .product-shop{	
		width: 297px;
		padding:0;
		margin:0;
		border:none;
	}
	.static_links_pan .promo {
		border-bottom: 1px dashed #CCCCCC;
		border-right: none;
		width: 273px;
	}
	.product-right-info {
		float: left;
		margin-bottom: 1%;
		padding: 10px 0 0;
		width: 100%;
	}
	.product-collateral .productd-banner-2{display:none;}
	.product-view .tabs{width:100%;}
	.product-collateral .padder {
		width: 95.2%;
	}
	.tabs li a {
		padding: 10px 7px !important;
		font-size: 11px;
	}
	.box-up-sell.category-products .products-grid li.item:hover, .block-related.category-products .products-grid li.item:hover{margin:0 !important;}
	.box-up-sell .caroufredsel_wrapper, .block-related .caroufredsel_wrapper{height:260px !important}
	.product-view .tabs li{width:100%}
	.product-collateral .tabs #product_tabs_upsell_products_tabbed{display:none;}
}
@media handheld, only screen and (max-width: 320px) {
	.row { margin:0 auto; width:100%; max-width:280px !important;}
    .row .row { width:260px; display:inline-block; margin:0 -15px; }
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { width:260px; margin:0 0px 0px; float:left; display:inline; position:relative }
	
	.col-main, .col-left, .col-right {
		float: none !important;
		float: none !important;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.quick-access{width:100%;}
	.mix_wrapper ul li img{height:auto;}
	
	.catalog-category-view .main-container, .catalogsearch-result-index .main-container {padding: 0 12px;}
	
	.page {
		width: 280px;
		margin: 0 auto;
	}
	.main-container {
		margin: 0 auto;
		max-width: 280px;
	}
	.catalog-product-view .main-container{
		max-width: 268px;
	}
	.header {
		
	}
	.col2-right-layout .category-products, .col2-left-layout .category-products {
	width: 93%;
	}
	.nav-container{padding:0;}
	.quick-access .links{padding:0;}
	.quick-access .links li {
		display: inline;
		padding: 0;
		margin-right: 0px;
		float: left;
		margin-top: 10px;
	}
	.quick-access .links li.top-link-1, .quick-access .links li.top-link-4{margin-right:14px;}
	.quick-access .links li.top-link-3 {display:none;}
	.quick-access .links a {
		height: 93px;
		width: 93px;
	}
	.form-list textarea {
		width: 234px;
	}
	
	.products-list .product-image{float: none;
		width: 100%;
		height: auto;
		margin: 0 auto 10px;
		text-align: center
	}
	.products-list .product-shop{margin:0;}
	/***slideshow-product-container***/
	.slideshow-container, .slideshow-product-container{}
	.slideshow-container .title{width:auto;}
	/** Set Width and height for Slideshow products **/
	.slideshow-product-container .mix_wrapper,
	.slideshow-product-container .mix_wrapper .caroufredsel_wrapper{ width:100%;}
	.mix_wrapper ul, .mix_wrapper ul li {
	height: 100% !important;
	}
	.itemPro li.item, 
	.category-products .products-grid li.item, 
	.catalogsearch-result-index .itemPro li.item, 
	.catalogsearch-result-index .category-products .products-grid li.item {
		width: 235px;
	}
	.mix_wrapper ul li a.product-image{height:122px !important;}
	.mix_wrapper ul li .price-box{margin-top: 30px;float:left;}
	.mix_wrapper ul li .actions{bottom:-10px;}
	.itemPro li.item, 
	.category-products .products-grid li.item,
	.catalogsearch-result-index .itemPro li.item,
	.catalogsearch-result-index .category-products .products-grid li.item{
		height: auto !important;
		width: 100%;
	}
	
	.nav-respon {
		display: block;
		font-size: 13px;
		margin: 0 auto;
		padding: 0;
		float: left;
		width: 100%;
	}	
	.brand-container {
		float: left;
		margin: 0;
		display: block;
		width: 92%;
		padding: 0 12px;
	}
	/*** Promotion Container **/
	.promotion-container{display:inline-block;padding:0 12px;}
	.promotion-container .promoBox.span12{display: block;}
	.static-R-4 .sampleBanner {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.static-R-4 .sampleBanner.ads2, .static-R-4 .sampleBanner.ads4{margin-right:0;}
	.footer-top{display:none;}
	.footer-top, .footer-info {
		width: 260px;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.social-link {
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 10px;
	}
	.footer-top .izzi-bottom-footer {
		width: 271px;
		border: 1px solid #ececec;
		display: inline-block;
	}
	.form-subscribe label {
		display: none;
	}
	.form-subscribe input.input-text{padding: 17px 12px;}
	.sidebar .form-subscribe .input-box input {
		width: 98%;
		height: 27px;
		line-height: 20px;
	}
	.form-subscribe button.button span{padding: 3px 0px;}
	.social-link a{margin-right:-3px;padding: 20px;}
	.social-link a.shareLink {
		background-position: -10px -106px;
	}
	.social-link a.facebookLink {
		background-position: -7px -417px;
	}
	.social-link a.twitterLink {
		background-position: -10px -45px;
	}
	.social-link a.googleLink {
		background-position: -10px -355px;
	}
	.social-link a.inLink {
		background-position: -11px -235px;
	}
	.social-link a.youtubeLink {
		background-position: -11px -667px;
	}
	.social-link a.dribbleLink {
		background-position: -11px -546px;
	}
	.footer-container .footer-info {
		width: 235px;
		display: inline-block;
	}
	iframe .pas{display:none !important;}
	.facebookBlock #fbfanbox iframe{width: 235px !important;}
	.static-footer{width: 100%;margin: 0;}
	
	.izzi-position-footer, .copyright-container .row {
		width: 235px;
	}
	.footer-bottom .col-footer {
		width: 85%;
	}
	.footer-bottom .col-footer {
		float: left;
		margin: 0 0px 10px 0;
	}
	.izzitemp-copyright, .izzitemp-payment{
		float: left;
		text-align: center;
		width: 100%;
	}
	.izzitemp-payment {
		margin-top: 10px;
	}
	.block-cart-header {
		float: left;
		border: none;
		position: relative;
		width: 100%;
	}
	.block-cart-header .summary{
		background-image: none;
		height: 15px;
		margin: 10px 0 0;
		padding: 12px;
		position: relative;
	}
	.block-cart-header #header-items {
		width: 230px;
	}
	.form-search .input-text {
		width: 189px !important;
	}
	
	.res-menu h2 {
		width: 85%;
	}
	.block-cart-header #header-items{top: 49px;right: -8px;}
	.seach-box-container {
		display: inline-block;
		margin: 0;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		padding: 10px 0;
		z-index: 1;
		height: 33px;
		background: none repeat scroll 0 0 #58BAE9;
		width: 100%;
	}
	.cart-top {
	margin: 0;
	height: auto !important;
	}
	.form-search {
		float: left;
		
	}
	
	
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }
	.top-links-left .links{
			float: left;
			margin-left: 15px;
			text-align: center;
			width: 100%;
	}
	.top-links-right{display:none;}
	.welcome-msg {
		display: none;
	}
	.col1-layout .products-grid {
		width: 90%;
	}
	.right-header {
		margin: 10px 0 15px;
		width: 100%;
	}
	.iosSlider {height:108px;}
	.text1, .text2{display:none;}
	.content-home .banner-home {
		margin-right: 0%;
		width: 100%;
		}
	.content-home .col1-home {	margin-bottom: 15px;}
	#view-upsell .slide{padding: 10px;} 
	#example-1 .slide, #example-2 .slide {
	padding: 10px 30px;
	}
	.top-footer .bonus-gift-card{
	padding: 0%;
	margin: 0;
	border: none;
	float: left;
	width:100%;}
	.footer .col1-footer, .footer .col3-footer, .footer .col2-footer, .footer .col4-footer{
	display:none;
	}
	.footer .col5-footer {
		float: left;
		width: 100%;
		margin: 10px 0 0 0;
	}
	.footer .f-left {
	width: 100% !important;
	text-align: center;
	}
	.footer .f-right {
		width: 100%;
	}
	.footer .payment-method ul li {
	margin-bottom: 5px;
	}
	.footer .form-subscribe input.input-text{width: 160px;}
	.sorter .sort-by, .sorter .limiter{
	display: none;
	}
	.category-products .products-grid li.item {
		float: left;
		margin: 0 0 10px 0;
	}
	.products-grid li.item .ratings {
		padding: 0 103px;
	}
	.category-products .products-grid li.last {
	display: block;
	}
	
	/*Product View Page*/
	.product-view .product-img-box {
		float: left;
		width: 100%;
	}
	.moreviews-container .mix_wrapper .mix_inner {
		width: 100%;
	}
	.moreviews-container .more-views {
		width: 91%;
	}
	.tab-view {
	max-width: 165px;
	margin: 10px auto 0 20px;
	}
	.product-collateral {
	padding: 0;
	}
	.product-collateral .product-tabs-content {
		width: 88%;
	}
	.add-to-cart button.button {
	
		float: right;
	}
	.add-to-box {
		margin: 10px 0;
		float: left;
		width: 100%;
	}
	.product-view .product-shop .add-to-links li{margin:0;}
	.static_links_pan .promo {
		border-bottom: 1px dashed #CCCCCC;
		border-right: none;
		width: 224px;
	}
	.product-right-info {
		float: left;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: auto;
	}
	.product-collateral .productd-banner-2{display:none;}
	.end-view {
	display:none;
	}
	.cart .cart-collaterals .grid_4 {
	width: 100%;
	float: left;
	margin: 0 0px 25px;
	}
	.form-list li.wide .input-box {
		width: 100%;
	}
	.form-list li.wide input.input-text {
		width: 100%;
	}
	.form-list .field {
		float: left;
		width: 100%;
	}

	.form-list input.input-text {
		width: 90%;
	}
	.col-right {
		float: left;
		width: 100%;
	}
	.block .block-title {
	width: 100%;
	padding: 15px 0px 0;
	}
	
	
	.left-block a {
	right: 90px;
	}
	.sidebar .form-subscribe .input-box {
	width: 67%;
	}
	.col1-layout .product-view .product-shop{
		width: 100%;
		padding: 0;
		margin: 0 0 10px;
		float: left;
		border: none;
	}
	.product-view .tabs, .product-view .padder, .product-view .tabs li{width:100%;}
	.product-collateral .padder {
		width: 95.2%;
	}
	.col3-layout .category-products .products-grid li.item {
	width: 100%;
	margin: 0 0 10px 0;
	}
	.sorter .view-mode{width:auto;}
	.view-mode label{display:none;}
	.sliderNab, .flex-direction-nav, .sliderNab-brand{display:none;}
	.catalog-category-view .salelabel-category-container{
		top: -13px !important;
		left: 165px !important;
	}
	.box-up-sell .caroufredsel_wrapper, .block-related .caroufredsel_wrapper{height:335px !important;}
	.product-view .tabs{width:100%;}
	.product-collateral .padder {
		width: 95.2%;
	}
	.tabs li a {
		padding: 10px 7px !important;
		font-size: 11px;
	}
	.product-view .product-shop {
	float: left;
	width: 260px;
	}
	.product-view .tabs li{width:100%}
	.product-collateral .tabs #product_tabs_upsell_products_tabbed{display:none;}
}
