/********************** Tabs */
.product-view .tabs, .product-view .tabs2 { margin: 15px 0 0; overflow:hidden; border-bottom:1px solid #496778;  zoom: 1;}
.padder{padding: 20px;border: 1px solid #496778;border-top: 0;}
.product-view .tabs li, .product-view .tabs2 li { float:left; border-right:1px solid #ffffff; border-left:1px solid #fff;line-height:1em;  background: #f2f2f2; }
.product-view .tabs li.first, .product-view .tabs2 li.first          { border-left:0; }
.product-view .tabs li.last, .product-view .tabs2 li.last           { border-right:0; }
.product-view .tabs a, .product-view .tabs2 a                 { display:block; padding:6px 10px; color:#444; text-decoration: none;}
.product-view .tabs a:hover, .product-view .tabs2 a:hover           { background-color:#ddd; text-decoration:none; color:#444; ; text-decoration: none;}
.product-view .tabs li.active a, .product-view .tabs2 li.active a,
.product-view .tabs li.active a:hover, .product-view .tabs2 li.active a:hover { background:#496778;  font-weight:bold; color:#fff; }

#product_tabs_tags_tabbed_contents.input-box input,
#product_tabs2_tags_tabbed_contents.input-box input	{ width: 300px; }
#product_tabs_tags_tabbed_contents .input-box,
#product_tabs2_tags_tabbed_contents .input-box	{ width: 300px; float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents li,
#product_tabs2_related_tabbed_contents li	{ float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol,
#product_tabs2_related_tabbed_contents ol	{ clear: both;}
.product-collateral:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; zoom: 1}