.switch-theme-color {
	width: 400px;
	height: 610px;
	background: #fff;
	border: #860541 1px solid;
	position: absolute;
	left: 0;
	top: 35%;
	z-index: 100000;
	text-align: center !important;
	color: #333;
	overflow-y: auto;
}
.store_switcher a.btn-quickview-store {	background: url("../images/skin-picker.png") no-repeat scroll 0 0 transparent;	display: block;	position: fixed;	left: 0;	text-indent: -999px;	top: 164px;	z-index: 24;	width: 47px;	height: 47px;	display: block;	text-indent: -99999px;	box-shadow: 0 0 10px #999999;	border: 1px solid #CECECE;	border-left: none;}.color-variation a.btn-quickview-setcolor{	background: url("../images/skin-color.png") no-repeat scroll 0 0 transparent;	position: fixed;	left: 0;	text-indent: -999px;	top: 212px;	z-index: 24;	width: 47px;	height: 47px;	display: block;	border: 1px solid #CECECE;	box-shadow: 0 0 10px #999999;	border-left: none;}.handle-variation a.handle{	background: url("../images/close-open.png") no-repeat scroll 0 0 transparent;	display: block;	position: fixed;	left: 0;	z-index: 22;	text-indent: -999px;	top: 258px !important;	width: 47px;	height: 47px;	display: block;	text-indent: -99999px;	border: #cecece 1px solid;	border-left: none;	box-shadow: 0 0 10px #999999;}.become-member a.btn-become-member{	background-image: url("../images/become-member.png");	background-color: #fff;	background-repeat: no-repeat;	background-position: 0 0;	display: block;	position: fixed;	left: 0;	z-index: 22;	text-indent: -999px;	top: 306px;	width: 47px;	height: 47px;	display: block;	text-indent: -99999px;	border: #cecece 1px solid;	border-left: none;	box-shadow: 0 0 10px #999999;}
.page-title h2 {color:#fff; padding:5px 0px 0px}.theme-setting-wraper .page-title h2{font-size: 18px;color: #fff;}
.theme-setting-content {padding:0px 20px 20px}
.theme-setting-content .fieldset {background:none !important;margin-top: 20px; padding-top: 10px;}
.theme-setting-content .form-list label {	padding-bottom: 5px;	font-family: 'Abel';	font-size: 16px;}
.theme-setting-content .input-box a {text-decoration:none !important}
.theme-setting-content .input-box a img {
    border: 2px solid #FFFFFF;
}
.theme-setting-content.input-box a {
    display: inline-block;
    float: left;
}
.theme-setting-content .input-box a.selected img {
    border: 2px solid #000000;
}
.theme-setting-content input, .theme-setting-content select{
    border-radius: 0 !important; 
	margin:0px !important;
}
.switch-theme-color button:hover{background-position:0 !important}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
    z-index:999999;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px !important;
	right: 11px !important;
	text-align: right !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 18px !important;
	width:auto !important;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px !important;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
.swbtn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.swbtn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}
.swbtn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #CD4689;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #CD4689, #CD4689);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CD4689), to(#CD4689));
  background-image: -webkit-linear-gradient(top, #CD4689, #CD4689);
  background-image: -o-linear-gradient(top, #CD4689, #CD4689);
  background-image: linear-gradient(to bottom, #CD4689, #CD4689);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
