<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<div class="display-top-product-view">	
	<div class="page-title">
		<h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
	</div>
	<div class="area_filter">
		<?php $filtes = $this->getFilters(); 
			foreach($filtes as $_filter)
			{
				if($_filter instanceof Mage_Catalog_Block_Layer_Filter_Category || $_filter instanceof Mage_Catalog_Block_Layer_Filter_Price):
					continue;
				else:
					if($_filter->getAttributeModel()->getAttributeId() == $this->getAttributeIdBrand())
						echo $_filter->getHtml();
				endif;
			}
		?>
	</div>
</div> 