
.product-image img {
    transition: opacity 300ms ease-in-out 0s;
}
.product-image img:hover {
    opacity: 0.8;
}
.our-policy .form-subscribe .input-box {
    border: 1px solid #D2D2D2;
}
.our-policy .form-subscribe .input-box input {
    height: 37px !important;
}
.input_tiny {
    width: 50px;
}
.input_small {
    width: 100px;
}
.input_medium {
    width: 150px;
}
.input_large {
    width: 200px;
}
.input_xlarge {
    width: 250px;
}
.input_xxlarge {
    width: 300px;
}
.input_full {
    width: 100%;
}
.input_full_wrap {
    display: block;
    padding-right: 8px;
}
*::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input, button, select, textarea {
    margin: 0;
    vertical-align: middle;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
    border: 1px solid #EFEFEF;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    cursor: pointer;
    font: 12px/15px Arial,Helvetica,sans-serif;
    outline: 0 none;
    overflow: visible;
    padding: 3px 10px;
    width: auto;
}
button {
}
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
   -moz-box-sizing: border-box;
	background-clip: padding-box;
	border-color: #EFEFEF;
	border-radius: 3px 3px 3px 3px;
	font-size: 13px;
	line-height: 13px;
	outline: 0 none;
	padding: 2px 3px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.65);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #888888;
}
input.placeholder_text, textarea.placeholder_text {
    color: #888888;
}
:invalid {
    box-shadow: none;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    box-shadow: 0 0 7px #0066FF;
    z-index: 1;
}
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {
    box-shadow: none;
}
select[disabled], textarea[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] {
    background-color: #EEEEEE;
}
button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
    -moz-user-select: none;
    box-shadow: none;
    color: #888888;
    cursor: default;
}
textarea, select[size], select[multiple] {
    height: auto;
}
select {
    background-image: url("../images/select_arrow.gif");
    background-position: right center;
    background-repeat: no-repeat;
   /*  padding-right: 20px; */
}
select[size], select[multiple] {
    background-image: none;
    padding: 0;
}
textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
}
optgroup {
    color: #000000;
    font-style: normal;
    font-weight: normal;
}
.ie6_button, * html button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/button.png") repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #BBBBBB #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: bold 12px/1.2 Arial,sans-serif;
    overflow: visible;
    padding: 2px 10px 0;
    width: auto;
}
* html button {
    padding-bottom: 1px;
    padding-top: 1px;
}
.ie6_input, * html textarea, * html select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 13px;
    padding: 2px 3px 1px;
    vertical-align: top;
}
* html select {
    margin-top: 1px;
}
.placeholder_text, .ie6_input_disabled, .ie6_button_disabled {
    color: #888888;
}
.ie6_input_disabled {
    background: none repeat scroll 0 0 #EEEEEE;
}
