/*Reset ================================================================================= */
/****** General Color and fonts follow themesetting ********************************/
.sale-wrapper, .new-wrapper .sorter .view-mode .grid, .sorter .view-mode .list, .sorter .sort-by .category-asc, .sorter .sort-by .category-desc, .buttons-set .back-link small, .add-to-links.addto-icons a, .accordion-style1 .opener, .accordion-style1 .opener:hover, .collapsible .opener, #scroll-to-top {
	transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
body{text-align:left;}
a, .opener {
	transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover, .opener:hover {
transition-duration: 100ms;
-moz-transition-duration: 100ms;
-webkit-transition-duration: 100ms;
-o-transition-duration: 100ms;
}
a{color:#666666;cursor:pointer;}
a:hover{text-decoration:none;color:#97d2c9;}
img{display: initial;max-width: 100%;height: auto;}
h1, h2, h3{margin:10px 0;}
p{margin: 0}
ul, ol{margin: 0}
input{
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type="radio"]{
	background:transparent;
	border:none;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
label{font-weight: 400;}
input, button, select, textarea {padding: 5px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
input.input-text, textarea {padding: 8px;text-overflow: ellipsis;}
.std p{margin: 0 0 10px;}
img.img-responsive{}
colgroup{display:none;}
/* Layout ================================================================================ */
.page{width: auto;padding: 0;}
.main-container,
.footer,
.header,


/* Base column */
.col-left{ border: none;}
.col-main{ border: none;}
.col-right{ border: none;float: right;}

/* 3 Columns Layout */


/* 2 Columns Layout */
.col2-left-layout .main{}
.col2-left-layout .products-grid{width: auto;}

.col2-left-layout .products-grid li.item.first{margin-left: 0;}


/* 1 Columns Layout */

/* Global Styles ========================================================================= */
/* Form Elements */
button.button,a.btn{
	overflow: visible;
	width: auto;
	border: 0;
	padding: 0;
	margin: 0;
	background: #97d2c9;
	cursor: pointer;
	text-decoration: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-backface-visibility: hidden;
}

button.button span, button.button i,.btn-wrapper .add-to-links li, .btn span{
	padding: 0px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	line-height: 30px;
}
button.button.btn-cart span, button.button i,.btn-wrapper .add-to-links li{padding: 0px;}
button.button span span{padding: 0}

button.button,.add-to-links li a,.email-friend li a {display:inline-block !important}
a.btn:hover,
button.button:hover,
button.button:focus,
.btn-group:focus button.button.dropdown-toggle {
  background-color: #bdae97;
}
button.button:active,
.btn-group.open button.button.dropdown-toggle,
button.button.active {
  background-color: #2c81ba;
}
.form-list li.control input.radio{margin: 0;}
.form-list li.control label{display: inline-block;}

/* Show menu */
.mobile-nav{display: none;}
.mobile-nav li ul{display: none;}

/* Sidebar =============================================================================== */
.block{}
.block .block-title { text-transform: uppercase; border: 0;padding: 0 0 15px;margin: 0 0 15px;color: #000;color: rgba(0,0,0,0.75);border-bottom: 1px solid #e8e8e8;}
.block dt { margin: 1em 0 0.5em; }
.block .block-content p {padding: 0 0 10px;}
/* Category Page ========================================================================= */

/********** Slideshow ******/
.main-slider {
	overflow: hidden;
	position: relative;
}
.main-slider {
	border-top: 0 solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background-color: #dcdcdc;
}
/* View Type: Grid and Slideshow Product Homepage*/
.category-products .products-grid.row{margin: 0 -15px 0em;}

.cms-home div h2.title{text-align:center;font-size:23px;font-weight:300;color:#666666;text-transform:uppercase;margin-bottom: 20px;}

.category-products .owl-wrapper .owl-item .overlay, 
.products-grid .overlay{
	display: none;
	position: absolute;
	z-index: 2;
	top: -9px;
	left: -9px;
	width: 108%;
	padding: 0 0 15px 0px;
	margin: 0 0px 0px 0;
	background: #fff;
	border: 9px solid #fff;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.products-grid .item .overlay,.products-grid .owl-item .overlay{padding: 0 0 0px 0px;width: 107%;min-height:373px;}
.products-grid .overlay .btn-wrapper {
	float: right;
	margin: 0px;
	display: inline;
}
.category-products .owl-wrapper .owl-item:hover .overlay,
.products-grid li.item:hover .overlay {display:block;}
.category-products .owl-wrapper .owl-item:hover .normal, .products-grid .item:hover .normal{display:none;}


.category-products .owl-wrapper .owl-item .item-inner, 
.category-products .products-grid .item .item-inner{
	padding: 0;
	margin: 5px 15px 30px;
	position: relative;
	background: #fff;
	border: 9px solid #fff;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	min-height: 345px;
}
.category-products .products-grid .item .item-inner{min-height:430px;}
.category-products .products-grid .item .item-inner .overlay{min-height:447px;}
.category-products .products-grid .item .item-inner{margin: 0 0 25px;}
.category-products .products-grid li.item{min-height: 435px;}
.products-grid .add-to-links a{font-size: .9em;font-weight: normal;}
.products-grid .product-image {display: block;margin: 0 0 12px;position: relative;z-index: 1;}
.product-info{}
.product-name {line-height: 1.5em;}
.category-products .ratings .amount {display:none;}
.ratings .rating-box{margin: 0 auto;float: none;}
.add-to-links{padding:0 !important;}
.category-products li .product-image img{position: relative;z-index: 0;max-width: 100%;height: auto;width: auto\9;}

.sale-wrapper, .new-wrapper {position: absolute;}
.sale-label, .new-label {
	text-transform: uppercase;
	width: 70px;
	height: 70px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	padding-top: 10px;
	padding-right: 25px;
}
.new-label {text-align:right;padding-right: 10px;}
.sale-wrapper.right-sale{top: -10px;left: -10px;}
.new-wrapper.left-new{top: -10px;right: -10px;}
.sale-label{background:url(../images/sales-product-icon.png) no-repeat 0 0;}
.new-label{background:url(../images/new-product-icon.png) no-repeat 0 0;}
.products-grid .btn-wrapper{
	float: left;
	margin-right: 5px;
}
.btn-wrapper button.button span, 
.add-to-links li a,
button.btn-cart span,
.email-friend li a{
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	vertical-align: middle;
	display: table-cell;
	text-indent:-999em;
	text-align: center;
	color:#fff;
	background-color: #bdae97;
}
.btn-wrapper button.button:hover span,button.btn-cart:hover span{}
.btn-wrapper button.button:hover span span, 
.add-to-links li:hover a,
button.btn-cart:hover span span,
.email-friend li:hover a{
	-webkit-transition: all 700ms;
	transition: all 700ms;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.add-to-links li a,.email-friend li a{text-indent:0;}
.btn-wrapper button.button span span,button.btn-cart span span{
	padding: 0;
	background: url('../images/addcart-icon.png') 50% 50% no-repeat;
}

.btn-wrapper button.btn-cart,.btn-wrapper .add-to-links{float:right;display:inline;margin:0;padding:0;background: none;}
.add-to-links li,.email-friend li{display:inline;float:left;margin: 0 1px}
.email-friend li{margin: 0;}
.add-to-links li:last-child{margin: 0 2px 0 0}
.btn-wrapper button.button:hover{background:none;}
.products-grid .product-name{
	font-size: 16px;
	font-weight: 300;
	display: block;
	margin: 4px 4px 20px;
	line-height: 120%;
	text-align: right;
}
.products-grid .overlay .product-name{text-align:center;display:inline-block;margin: 0px 0 0;width: 100%;}
.products-grid .overlay .no-rating, .products-list .no-rating{
	width: 69px;
	height: 13px;
	font-size: 0;
	line-height: 0;
	background: url(../images/bkg_rating.gif) 0 0 repeat-x;
	text-indent: -999em;
	overflow: hidden;
	margin: 10px auto;
	float: left;
	display: inline;
	border: none;
}
.products-grid .overlay .no-rating a{width:0;float: left;height: 13px;background: url(../images/bkg_rating.gif) 0 100% repeat-x;}
.products-grid .overlay .ratings{margin: 12px auto 0;float: left;}
.products-grid .overlay .ratings .rating-links{display:none;}
.products-grid .product-name a{color: #7d7d7d;}
.products-grid .price-box {margin: 0px 4px 5px 0px;line-height: 14px;letter-spacing: -1px;text-align: right;font-size: 16px;position: absolute;bottom: 0;right: 4px;width: 100%;}
.products-grid .overlay .price-box {
	margin: 0px auto;
	line-height: 14px;
	letter-spacing: -1px;
	font-size: 16px;
	position: absolute;
	bottom: 15px;
	right: 0px;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 8px;
}
.products-grid .overlay .price-box .old-price,.products-grid .overlay .price-box .special-price{display:inline;margin: 0 5px;}

/*** Products List ***/
.products-list .product-image .overlay{display:none}
.products-list .product-image:hover .overlay{display:block}
.products-list .product-image:hover .normal{display:none}

.products-list .product-shop {margin-left: 260px;position: relative;text-align: left;}
.products-list .product-name {margin: 0 0 10px;font-weight: bold;text-align: left;border-bottom: 1px solid;border-bottom-color:#e3e3e3;border-bottom-color: rgba(227,227,227,0.61);padding-bottom: 10px;}
.products-list .price-options {float: left;width:100%;margin: 0 0 10px;padding: 0 0 10px;border-bottom: 1px solid;border-bottom-color:#e3e3e3;border-bottom-color: rgba(227,227,227,0.61);}

.products-list .price-options .no-rating{margin: 11px 0 0 0;}
.products-list .price-options .price-box{margin-top:0;margin-bottom: 0;}

.products-list .price-options .price-box{margin:7px 0 0 15px;font-size: 16px;}
.products-list .price-options .price-box .minimal-price-link {color: #000;font-size: 100%;font-weight: 400;}
.products-list .price-options .btn-wrapper{float:right;}
.products-list .price-options .rating-links{display:none;}

.products-list .ratings{width: 69px;height: 13px;float: left;display: inline;}
.product-shop .ratings .rating-box{float: left;margin-right: 5px;margin-top: 2px;}
/* BreadCrumbs */
.breadcrumbs{margin: 0 0 10px}
.breadcrumbs{margin-bottom: 10px;  height:29px; line-height:29px; border-radius:3px;}
.breadcrumbs a {display: block;float: left;border-bottom: none;}
.breadcrumbs li { display:inline; font-size: 12px;}
.breadcrumbs li strong {font-weight: normal;display: block;color:#4c4c4c;text-transform:uppercase;}
.breadcrumbs li span {margin: 0px 6px 0;display: block;float: left;overflow: hidden;}
/* BreadCrumbs End */

/* Page Heading */
.page-title > *{margin: 0;}
.page-title h1,
.page-title h2 { font-size:1.8em; }


/* Pager */
.toolbar .pager{display: block;border: none;padding: 10px 0 0;margin: 10px 0 0;border-top: 1px solid #ddd;}
.pager .pages{}

/* Toolbar */
.toolbar {border-top: 1px solid #e5e5e5;position: relative;z-index: 1;padding: 10px 0;margin-bottom: 5px;}
.toolbar div label{display: inline-block;padding-right:5px;}
.toolbar div *{margin-bottom: 0;padding:0;}
.toolbar div.tooltip-inner{padding: 3px 8px;}
.pager .amount{text-align:left;}
.toolbar > div > p{line-height: 25px;}
.toolbar .sorter {line-height: 26px;}
.toolbar select{height: 26px;margin-top: -5px;}
.sorter .sort-by a{padding: 0px 7px;border: 1px solid #ddd;display: inline-block;margin-top: 0px;height: 26px;line-height: 26px;}
.toolbar .limiter{text-align:right;}
.limiter select{margin: -2px 0 0;}
.pager li{list-style: none outside none;   margin: 0 5px 0 0;}
.pager li>a, .pager li>span,.pager .pages .current {
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	border-radius:50%;
    color: #000000;
    height: 35px;
    padding: 0;
    text-align: center;
    width: 35px;
	line-height: 35px;
}
.pager .pages .current,.pager li>a:hover, .pager li>a:focus { background: #97d2c9;color: #FFFFFF;}
/* Data Table */
.data-table tr.first th:first-child { width: 100px; }

/* Header ================================================================================ */
.header-container{margin: 0 0 0;}
.top-header{background:#f4f4f4;}
.top-link{text-align:right;}
.header{padding: 13px 0; border: none;}
.header .container{position:relative;}
.header-container .welcome-msg{color:#fff;line-height: 40px;}

/** Social Top **/
.social-top{}
.social-top li{float: left;display: inline;padding-right: 5px;line-height: 25px;padding-top: 2px;}
.social-top li:last-child{padding-right: 0px;}
.social-top li a{background-color:#999999;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;width: 25px;height: 25px;float: left;text-align: center;}
.social-top li a i{color:#fff;line-height: 25px;width: 25px;}

/** hover on social **/
.social-top li.googleplus:hover a{background-color:#c13222;}
.social-top li.facebook:hover a{background-color:#3e5b99;}
.social-top li.twitter:hover a{background-color:#0084b4;}
.social-top li.linkedin:hover a{background-color:#1985bc;}
.social-top li.youtube:hover a{background-color:#cc181e;}
/* Top Links */
.top-links{padding:25px 0 0;}
.links li{padding-right:10px;background:url(../images/border-links.gif) no-repeat 95% 65%;}
.links li:last-child{padding-right: 0;background:none;}

.links li a:hover{color:#009f91;}

/* Language and Currency */
.language-currency{float:right;}
.language, .currency{color:#fff;font-size:12px;display: inline;}
.currency{margin-left: 10px;float: right;}
.language label, .currency label{line-height: 30px;margin: 0;padding:0 10px;}
.language .lang-switcher,
.language .label-language,
.currency .currency-label,
.form-currency{ float:left;line-height: 30px;color: #a0a0a0;}

.form-language, .form-currency{ position:relative;}

.form-currency:hover i,.form-language:hover i,.lang-switcher:hover .language-hover, .form-currency:hover .currency-hover{color: #009f91;}
.over-language li, .over-currency li{ line-height:20px;}
.over-language li:hover,
.over-language li.selected, 
.over-currency li:hover,
.over-currency li.select, 
.lang-switcher:hover .language-hover,
.form-currency:hover .currency-hover{
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
.over-language li a, .over-currency li a{font-size: 12px;line-height: 20px;color:#000;}
.over-language, .over-currency{width: 115px;position: absolute;top: 100%;right: 0px;z-index: 10000000;background:#fff;border-top:0;-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);padding:10px;}
/** Logo **/
.header .logo{padding-left: 0;margin: 3px 0;}
.header .logo a{float:left;}
/****** Message ********/
/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.messages { width:100%; overflow:hidden; margin: 0 0 10px;}
.messages,
.messages ul {list-style: none !important;margin: 0;padding: 0;}
.messages li {margin: 0 0 1%;}
.messages li li {margin: 0px !important;}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {background-position: 10px 12px;padding: 20px 20px 20px 50px !important;}
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; background-image: url(../images/warning_icon.png); background-repeat:no-repeat;}
.success-msg {border-color: #296a23;background-color: #E9FFCA;background-image: url(../images/tick-icon.png);background-repeat:no-repeat;color: #296a23;}
.note-msg,
.notice-msg {color: #3d6611;line-height: 25px;height: 25px;}


/** NAV container **/
.nav-container{background:#2f2f2f;}
.navbar .nav > li > a,
.menu {
	-webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
	-moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
	-o-transition: background-color .25s, color .25s, border-bottom-color .25s;
	transition: background-color .25s, color .25s, border-bottom-color .25s;
	-webkit-backface-visibility: hidden;
}
div.amzthemes-explodemenu-popup a:hover{background: url(../images/arrow-popup-menu.png) no-repeat 0 50%;}

/** Search Blog **/
#search_mini_form{
	position: absolute;
	right: 15px;
	bottom: -50px;
	z-index: 1;
	width:207px;
	height:30px;
}
.header .form-search{position:relative;}
.form-search input{border: none;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;padding: 6px 34px 6px 15px;width: 100%;}
.header .form-search button{position: absolute;background: url(../images/search-icon.png) no-repeat 50% 50%;padding: 0;right: 5px;top: 0px;height: 30px;width: 30px;}
.header .form-search button:hover{background: url(../images/search-icon.png) no-repeat 50% 50%;}

/**** Ads Promitons Block ****/
.ads-promotion-container{position: relative;height: 100%;padding: 0px 0 60px;}
.ads-promotions{position: absolute;top: -265px;z-index: 2;}
.ads-promotions .item .info-category{position:relative;overflow: hidden;}

.ads-promotions .item .info-category img{
    display: block;
    max-width: 100%;
	width:100%;
    -webkit-backface-visibility: hidden;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.ads-promotions .item .info-category:hover img {
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.ads-promotions .item .info-category .text-overlay{display:none;}
.ads-promotions .item .info-category h4{position:absolute;top:20px;left:20px;font-size:20px;font-weight:700;text-transform:uppercase;width: 50%;line-height: 23px;}
.ads-promotions .item .info-category i{font-weight:100; color:#fff;font-style: normal;padding-left: 10px;}
.ads-promotions .item .info-category .bottom-info{
	position: absolute;
	bottom: 0;
	background: rgba(53,53,53,0.8);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color:#fff;
	font-size:14px;
}
.ads-promotions .item .info-category .bottom-info .name{float:left;text-transform:uppercase;}
.ads-promotions .item .info-category .bottom-info .price-from{float:right;text-transform:lowercase;}
.ads-promotions .item .info-category .bottom-info label{color:#999999;}
.ads-promotions .item.item-handbag .info-category h4{left: 60%;} 
.ads-promotions .item.item-jackets .info-category h4{width: 30%;}


 .ads-promotions .item .info-category:hover .text-overlay{display:block;
	opacity: 0.8;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 }
 .ads-promotions .item .info-category .text-overlay{
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	height: 84%;
	position: absolute;
	text-decoration: none;
	width: 100%;
	z-index: 100;
	padding: 20px;
	background: #222;
	background: rgba(183,166,138,0.93);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	color:#fff;
	
 }
.ads-promotions .item .info-category .text-overlay h5{font-size:30px;font-weight:300;width:20%;white-space:pre-line}
.ads-promotions .item.item-jackets .info-category .text-overlay h5,
.ads-promotions .item.item-jackets .info-category .text-overlay a,
.ads-promotions .item.item-slider-shoe .info-category .text-overlay h5,
.ads-promotions .item.item-slider-shoe .info-category .text-overlay a{position:absolute;}
.ads-promotions .item.item-jackets .info-category .text-overlay h5{width:52%;right: 6%;}
.ads-promotions .item.item-jackets .info-category .text-overlay a{right: 6%;top: 55%;}

.ads-promotions .item.item-slider-shoe .info-category .text-overlay h5{width:44%;right: 2%;}
.ads-promotions .item.item-slider-shoe .info-category .text-overlay a{right: 6%;top: 50%;}
.ads-promotions .item .info-category .text-overlay a.btn{background:#3b3330;font-size:12px;text-transform:uppercase;color:#fff;border-radius: 0;padding: 10px;}
.ads-promotions .item .info-category .text-overlay a.btn:hover{background: #0d1e32;color: #fff;}
/**** Ads Promitons Block End****/

/** Theme Features Block **/
.theme-features-container{padding-bottom: 20px;}
.theme-features-container .theme-features{text-align:center;}
.theme-features h2,.theme-features .item h3{text-transform:uppercase;font-weight:300;}
.theme-features h2 {font-size:24px;}
.theme-features .item h3{color:#666666;font-size:17px;font-weight:700;}
.theme-features .item p{font-size:16px;font-weight:300;color:#a7a7a7}

.theme-features .item .icon-item{margin: 15px 0 0;padding: 0 43%;}
.theme-features .item .icon-item i{border: 1px solid #999;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;width: 50px;height: 50px;text-align: center;vertical-align: middle;display: table-cell;margin: 0 auto;}
.theme-features .item:hover i{
	background: #bdae97;
	color: #fff;
	-webkit-transition: all 700ms;
	transition: all 700ms;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.theme-features .item.item-responsive .icon-item i{padding: 0 0 0 9px;font-size: 40px;}
.theme-features .item.item-smart-option .icon-item i{font-size: 25px;}
.theme-features .item.item-color-option .icon-item i{padding: 0 0 0 3px;font-size: 25px;}
/** Theme Features Block End**/


.products-grid li.item{
-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.products-grid li.item{float:left;}
/*** Testimonial Sldier ***/
.tesiminial-slider{margin-top:20px;}
#owl-testimonial .item{text-align:center;}
#owl-testimonial .item p{font-size: 15px;line-height: 20px;}
#owl-testimonial .item p i{font-size: 11px;font-weight: 300;font-style: italic;padding: 0 10px;}
#owl-testimonial .item h6{margin-bottom: 10px !important;text-transform: capitalize;font-style: italic;}
#owl-testimonial .item h6 a{color: #bdae97;}
#owl-testimonial .item h6 a:hover{color: #666666;}
#owl-testimonial .owl-buttons{display:none;}
#owl-testimonial .owl-pagination{display:block;}
#owl-testimonial .owl-pagination .owl-page{
	width: 12px;
	height: 12px;
	margin: 0 3px;
	border-color: #000;
	background-color: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
}
#owl-testimonial .owl-pagination .owl-page.active{background-color:#bdae97}

/**** Product Grid ***/

/* Product View ========================================================================== */
.product-tags {margin: 0 0 1em}
.product-tags li{display: inline-block;}
.product-shop .price-box{margin: 0 0 0px;}
.product-essential a{text-decoration: none;}
.product-name h1{font-size: 3.2rem;line-height: 1.5em}
.product-view .product-name h1{margin: 0 0 10px;}
.product-shop .col-xs-12{padding:0;}

.product-shop .old-price .price,.product-shop .special-price .price{font-size: 23px;}
.product-shop .old-price,.product-shop .special-price{display:inline;padding-right:10px;}

.stButton .stButton_gradient,.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{height:22px !important;}

.product-shop .follow{margin-top: 5px;display: inline-block;}
/** Next And Previous Products ****/
.catalog-product-view .main-container .main{position:relative;}
.catalog-product-view .main-container .main .inchoo_prevnext{position: absolute;right: 15px;top: 0;z-index: 1;}
.inchoo_prevnext .inchoo_prevnext_prev{display: inline;float: left;padding-right: 10px;}
.inchoo_prevnext .inchoo_prevnext_next{display: inline;float: right;}
.inchoo_prevnext a.tooldown{
	display:inline !important;
	color: #FFF;
	zoom: 1;
	padding: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #bdae97;
	filter: Alpha(Opacity=1);
	opacity: 1;
	width: 40px;
	height: 40px;
	text-align: center;
}
.inchoo_prevnext a.tooldown:hover{opacity:0.5;}
/* Block: Upsell */
.box-up-sell .products-grid{width: auto;margin: 0}

/*** Shopping Cart ***********************************/
.cart .crosssell > h2,
.cart .discount > h2,
.cart .shipping > h2,
.totaldisplay .cart-total > h2{
	background: #5dade2; 
	color: #fff;
	padding: 10px 20px;
	margin: 1px 0 0;
	-moz-transition: padding-left 250ms ease;
	-webkit-transition: padding-left 250ms ease;
	-o-transition: padding-left 250ms ease;
	transition: padding-left 250ms ease;
	font-size: 1.2em;
	text-transform: uppercase;
}
.cart .shipping input.input-text, .cart .shipping select {width: 100%;}
.cart .crosssell > h2:hover,
.cart .crosssell > h2.active,
.cart .discount > h2:hover,
.cart .discount > h2.active,
.cart .shipping > h2:hover,
.cart .shipping > h2.active{}
.cart .crosssell > h2:hover:after,
.cart .crosssell > h2.active:after,
.cart .discount > h2:hover:after,
.cart .discount > h2.active:after,
.cart .shipping > h2:hover:after,
.cart .shipping > h2.active:after{}
.cart .crosssell > h2.active:after,
.cart .discount > h2.active:after,
.cart .shipping > h2.active:after{}
.crosssell > h2+*,
.discount > h2+*,
.shipping > h2+*,
.cart-total > h2+*{border: 1px solid #ddd;padding: 10px;}
.cart .discount input.input-text {width: 100%;}

.custom-cart .page-title{margin:0;}
.custom-cart .data-table tr.tr-arround{
	margin-bottom: 10px;
	position: relative;
	padding: 0 18px;
}
.custom-cart .cart-table td  {border-right: 1px solid #f5f5f5;}
.custom-cart .cart-table tfoot td  {border:none;padding: 10px 0;}
.custom-cart .data-table .hidden-cart{position:relative;}
.custom-cart .data-table .hidden-cart td.td-image{display: block;}
.custom-cart .data-table .hidden-cart td.last{border:0 !important;}
.custom-cart .data-table tbody .hidden-cart td{}
.custom-cart .data-table tbody td.last{height:26px;position:relative;bottom:0 !important;}
.custom-cart .data-table .hidden-cart .button-cart .active{bottom: -5px;right: 0px;}
.custom-cart .data-table tbody td.td-infopr{margin-right: 10px;}
.custom-cart .data-table tbody td.td-eidtcart a{
	text-indent: -999em;
	overflow: visible;
	font-size: 12px;
	line-height: 26px;
	color: #8a8989;
	display: inline-block;
	width: 22px;
	background: url(../images/bkg_edit_checkout.png) no-repeat 0px center;
}
.custom-cart .data-table tbody td.td-removeitem{ }
.custom-cart .data-table tbody td.td-carttaxinfo{margin-right: 15px;}
.custom-cart .data-table tbody td.td-cartqty{line-height: 24px;}
.custom-cart .data-table tbody td.td-checkoutprice{}
.custom-cart .data-table tbody td.last{border:none;}
.custom-cart .data-table tbody td.td-infopr .item-options{}
.custom-cart .data-table tbody td.td-infopr .product-name a{line-height:21px;}
.custom-cart .data-table tbody td.td-carttaxinfo .price{padding-left:6px;}
.custom-cart .data-table tbody td.td-removeitem .btn-remove2{
	text-indent: -999em;
	height: 26px;
	overflow: visible;
	font-size: 12px;
	line-height: 26px;
	color: #8a8989;
	display: inline-block;
	width: 22px;
}
.custom-cart .data-table tbody td.td-eidtcart a{color:#8a8989;}
.custom-cart .unit-price{}
.custom-cart .data-table tbody td.td-cartqty input{border:1px solid #e5e5e5;border-radius:2px;text-indent:5px;margin:0 !important;}
.custom-cart .quantity-cart{line-height:24px;}
.custom-cart .products-grid .item button.btn-cart span{}
.custom-cart .data-table tbody td.td-checkoutprice .price{ padding-left:6px;}
.custom-cart .subtotal-cart{}
.custom-cart .data-table td a.product-image{}
.custom-cart .cart-collaterals { padding:25px 0 0; }
.custom-cart .cart-collaterals .col2-set .col-1 {}
.custom-cart .cart-collaterals .col2-set .col-2 {}

.cart-block.cart-total{padding:20px;background:#efefef;}
.cart .cart-total table {width: 100%;}
.cart .cart-total tfoot td {padding: 1px 0px 5px 7px;}
.cart .cart-total tfoot th strong, .cart .cart-total tfoot td strong {font-size: 18px;}
/* One Page Checkout */
.opc .step-title .number{font-size: 1.2em;line-height: 40px;margin: 0 .5em 0 0;}
.opc .step-title h2{margin: 0;}

/* Account Login/Create Pages ============================================================ */
.registered-customer-area{display: none;}

/* Footer ================================================================================ */
.footer-container {
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
  color: #333;
  padding: 0;
}
.footer-top, .f-bottom-container{background:#bdae97;}
/** Indivial for Footer Block ***/
/** Footer Box Item **/
@media only screen and (min-width: 768px){
	.mobile-collapsible .block-content {
		display: block !important;
	}
}
@media only screen and (max-width: 767px){
	.mobile-collapsible .block-content {
		display: none;
		margin-top: 20px;
	}
	.mobile-collapsible .opener{display:block !important;}
	.mobile-collapsible{min-height:0;}
}

.footer-container a {
  color: #000;
}
.footer-container a:hover{color: #bdae97;}

.social-links{padding: 9px 0;}
.social-links a{margin: 0 5px 0 0;filter: gray;-webkit-filter: grayscale(1);display: inline !important;line-height: 28px;}
.social-links a img{-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.social-links a:hover{-webkit-filter: grayscale(0);}
.social-links a span.icon{width:32px;height:32px;display:inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #000;}
.social-links a span.icon.facebook-i{background-image:url(../images/block/facebook-i.png);background-repeat:no-repeat;}
.social-links a span.icon.flickr-i{background-image:url(../images/block/flickr-i.png);background-repeat:no-repeat;}
.social-links a span.icon.googleplus-i{background-image:url(../images/block/googleplus-i.png);background-repeat:no-repeat;}
.social-links a span.icon.instagram-i{background-image:url(../images/block/instagram-i.png);background-repeat:no-repeat;}
.social-links a span.icon.youtube-i{background-image:url(../images/block/youtube-i.png);background-repeat:no-repeat;}
.social-links a span.icon.twitter-i{background-image:url(../images/block/twitter-i.png);background-repeat:no-repeat;}
.social-links a span.icon.tumblr-i{background-image:url(../images/block/tumblr-i.png);background-repeat:no-repeat;}
.social-links a span.icon.pinterest-i{background-image:url(../images/block/pinterest-i.png);background-repeat:no-repeat;}
.social-links a span.icon.linkedin-i{background-image:url(../images/block/linkedin-i.png);background-repeat:no-repeat;}
.social-links a span.icon.rss-i{background-image:url(../images/block/rss-i.png);background-repeat:no-repeat;}

/* Block: Subscribe */
.form-subscribe{border:0;margin: 0;float: right;padding: 8px 0;}
.form-subscribe .block-content .input-box, .form-subscribe .block-content .actions{display:inline;}
.form-subscribe .block-content .actions button,.form-subscribe .block-content .actions button:hover{background:none}

.form-subscribe .block-content{float:left;width:100%;height:100%;}
.form-subscribe .block-content .actions button.button:hover{background:none;}
.form-subscribe .block-content .actions button.button:hover i{}
.form-subscribe .block-content .input-box{max-height:30px;}
.form-subscribe .block-content .input-box input{padding: 5px 15px;width:300px;}

.form-subscribe .block-content .actions i{font-size:41px;padding: 0;}
/********* -------- ****/

.mobile-collapsible{position:relative;}
.mobile-collapsible .opener {
	position: absolute;
	right: 15px;
	top: 2px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #f2f2f2;
	background-color: rgba(0,0,0, 0.05);
	background-image: url(../images/opener.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 3%;
	display:none;
}
.mobile-collapsible .opener:hover{background-color: #5dade2;}
.collapsible.active .opener {
	background-image: url(../images/opener-active.png);
}

.middle-footer{background: url(../images/bkg_footer.png);padding-top: 10px;}

.content-about a i{padding-left:5px;}
.middle-footer .f-box h3{font-size:17px;}
.middle-footer .f-box.box1 img{margin: 10px 0 20px;}

.creare-twitter li{

	overflow: hidden;
	line-height: 20px;
	margin: 0 0 20px;
	padding: 3px 0 23px;
	border-bottom: 1px solid #e6e6e4;
	border-bottom-color: rgba(0,0,0,0.06);
}

.middle-footer ul li:last-child{border:none;padding:0;maegin:0}
.f-box.box3 li{padding: 1px 0;}
.f-box.box3 li i{padding-right: 5px;}
.f-box.box3 li:hover a{padding-left: 10px;transition: all 500ms ease;}

/**** Footer Bootom ***/
.f-bottom-container address{margin:0;padding:0;line-height: 37px;color: #fff;}
.footer-payment-wrapper{text-align:right;line-height: 37px;}
/************** Responsive build ***************/
@media (max-width: 992px) {
	.navbar {display: none;}
	.mobile-nav {display: block;}
	.cart .cart-collaterals{position: relative;}
	.cart .totals{position: absolute; right: 0; top: 10px;}
	.cart .cart-collaterals .col2-set{width: auto;}
	.cart .cart-collaterals .col2-set .col-1,
	.cart .cart-collaterals .col2-set .col-2 {width: 100%;}
}

@media (max-width: 992px) and (min-width: 768px) {	
	.col3-layout .col-wrapper{width: auto;margin: 0 0 1em; padding: 0 0 1em; border-bottom: 2px dotted #666;}	
	
	.block-banner,
	.block-poll,
	.sidebar .paypal-logo{display: none}
	.block-content input[type="text"]{width: 90%;}

	.col2-left-layout .block-layered-nav{padding: 10px; }
	.col2-left-layout .block-layered-nav .block-title{border: none;cursor: pointer;}
	.col2-left-layout .block-layered-nav .block-content{display: none;padding: 0;margin: 1em 0 0;}
	.col2-left-layout .block-layered-nav dt{cursor: pointer;padding: 5px; border: 1px solid #ddd; margin: 0 0 .5em;}
	.col2-left-layout .block-layered-nav dt:hover{background: #227fbb; color: #fff; -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; }
	.col2-left-layout .block-layered-nav .block-title:hover{text-decoration: underline;}
	.col2-left-layout .block-layered-nav .block-title:after,
	.col2-left-layout .block-layered-nav dt:after {font-family: FontAwesome; content: "\f054"; float: right; }
	.col2-left-layout .block-layered-nav .block-title.active:after,
	.col2-left-layout .block-layered-nav dt.active:after {content: "\f078"; }
	.col2-left-layout .block-layered-nav dd{display: none;margin: 0 0 1em;}
	.col2-left-layout .block-layered-nav dd li{text-indent: 1em;position: relative;}
	.col2-left-layout .block-layered-nav dd li:hover:after{font-family: FontAwesome;content: "\f0da";position: absolute;left: -13px;}
	.col2-left-layout .block-layered-nav .block-subtitle{display: none;}
	
	/** Footer *****************/
	.f-box.box4 iframe{width: 158px !important;height: 125px !important;} 
}

@media (max-width: 767px) {
	
	/*** Header *************************/	
	.block{width: auto;}
	.block-content > div {display: inline-block;}
	.block-content > div.actions{display:block;}
	
	/*********** Col-form **********/
	.form-list .field, .form-list input.input-text, .form-list textarea, .form-list select, .form-list li.wide .input-box, .form-list li.wide input.input-text, .form-list li.wide textarea, .form-list li.wide select {max-width: 100%;}
	.account-login .col-sm-6 .content{height:auto !important;}
	
	
	.block-layered-nav{padding: 10px; }
	.block-layered-nav .block-title{border: none;cursor: pointer;}
	.block-layered-nav .block-content{display: none;padding: 0;margin: 1em 0 0;}
	.block-layered-nav dt{cursor: pointer;padding: 5px; border: 1px solid #ddd; margin: 0 0 .5em;}
	.block-layered-nav dt:hover{background: #227fbb; color: #fff; -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; }
	.block-layered-nav .block-title:hover{text-decoration: underline;}
	.block-layered-nav .block-title:after,
	.block-layered-nav dt:after {font-family: FontAwesome; content: "\f054"; float: right; }
	.block-layered-nav .block-title.active:after,
	.block-layered-nav dt.active:after {content: "\f078"; }
	.block-layered-nav dd{display: none;margin: 0 0 1em;}
	.block-layered-nav dd li{text-indent: 1em;position: relative;}
	.block-layered-nav dd li:hover:after{font-family: FontAwesome;content: "\f0da";position: absolute;left: -13px;}
	.block-layered-nav .block-subtitle{display: none;}

	.col3-layout .col-left{width: 100%;}
	.col3-layout .block-layered-nav{width: auto;}
	.form-list .input-box{width: auto;}
	.form-list .input-text{width: 90%;}
	
	/******** Product View ***********/
	.full-xs-imgbox, .more-views-full-xs{width:100% !important;float:none;text-align:center;margin: 0 auto;cursor:default !important;height: auto !important;}
	.more-views .owl-carousel {width: 40% !important;float: none;text-align: center;margin: 0 auto;}
	.product-image .mousetrap {
		z-index: 100 !important;
		width: 100% !important;
		height: 100% !important;
	}
	/********* Toolbar ******************/
	.sorter .view-mode, .sorter .sort-by{padding-bottom: 10px;}
	.sorter .sort-by{float:right;text-align:right;}
	
	/*** Shopping Cart ***********************/
	thead.thead-cart,button.button.btn-empty{display:none;}
	.custom-cart .data-table tr.tr-arround{padding:0;float: left;width: 100%;}
	.custom-cart .cart-table td{margin:0;text-align:left !important;width: 100%;display: block;float: left;padding:0;border: none;}
	.custom-cart .data-table tr.tr-arround .a-center.td-image{text-align:center !important;padding: 10px 0;}
	.custom-cart .data-table tbody td.td-infopr{margin:0;}
	.custom-cart .data-table tr.tr-arround .a-center.td-image a{float:none;}
	.custom-cart .cart-table td .product-name{margin-bottom:0;} 
	.custom-cart .cart-table td .unit-price, 
	.custom-cart .cart-table td .price, 
	.custom-cart .cart-table td.td-cartqty .quantity-cart, 
	.custom-cart .cart-table td.td-cartqty input.qty, 
	.custom-cart .cart-table td.td-checkoutprice .cart-price .subtotal-cart, 
	.custom-cart .cart-table td.td-checkoutprice .cart-price .price, 
	.custom-cart .cart-table td.td-wishlist .label, 
	.custom-cart .cart-table td.td-wishlist a{float:left;display:inline !important;padding-right:10px;}
	.custom-cart .cart-table td.td-cartqty input.qty{padding:0;}
	.custom-cart .cart-table tfoot td {text-align: center !important;}
	.custom-cart .cart-table tfoot td button{margin-bottom:10px;}
	/** Footer ********************************/
	.footer-container .full-mobile, .footer-container .form-subscribe{float:none !important;text-align:center;}
}

@media (max-width:651px) {
	/**** Header ***********/
	.hidden-top{display:none;}
	.header-container .top-link{float:none;text-align:center;width: 100%;}
	
	/**** Tabs *************/
	
}

@media (max-width:480px) {
	/*** Header *******************/
	.header .logo, .full-480{float:none;margin:0 auto;text-align:center;width:100%;}
	.header .form-search{text-align:center;}
	.col2-right-layout .product-view .product-img-box{width: auto;}
	.col2-right-layout .product-view .product-shop{width: auto;margin: 0 0 2em;}
	.products-grid{margin: 0;border: none;}
	.featured-products .products-grid li.item, .bestseller-products .products-grid li{margin:0}
	.products-grid li.item, .products-grid li{width: 100%;margin: 0 0 2em 0;}
	.products-grid .actions{}
	.products-grid .add-to-links{display:none;}
	.products-grid .add-to-links li{margin:auto;}
	.products-grid .ratings .amount{display: none;}
	.products-grid .btn-cart{}
	.products-grid .product-image{float: left;margin: 0 10px 10px 0;width: 50%;}
	.products-grid .ratings{display: inline-block;}

	.customer-account-login .col-1.new-users{display: none;}
	.account-login .registered-users{width: 100%;}
	.registered-customer-area{display: block;}
	.account-login{margin: 0 0 2em;}
	
	/*** Footer *************************/
	.footer-container .f-box{float:none;width:100%;margin:0 auto;}
}
@media (max-width:380px) {
	.hidden-phone{display:none;}
	.sorter .view-mode{float:none;width:100%;text-align:center;}
}
@media (max-width:321px) {
	.products-grid li{width:100%;padding: 20px;margin: 0 0 1em;}
	.products-grid .product-image{float:none;margin:0 auto;width:auto;}
	.products-grid .ratings{display:block;}
}