@charset "utf-8";
/* CSS Document */

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity;
}
.filter {
	float:right;
}
.filter li a {
	float:left;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.filter li a.active {
	border-bottom:2px solid #000;
}
.filter li a:hover {
	text-decoration:none;
	border-bottom:2px solid #000;
}
.da-thumbs {
	list-style: none;
	position: relative;
	padding: 0;
	z-index:99999;
}
.da-thumbs li {
	float: left;
	background: #fff;
	position: relative;
}
.da-thumbs li a, .da-thumbs li a img {
	display: block;
	position: relative;
	z-index:99999;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(12,30,50,0.9);
	width: 100%;
	height: 100%;
	z-index:99999;
}
.da-thumbs li a div span {
	display: block;
	padding:25% 0 0  0;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color:#fff;
	text-align:center;
	font-family: 'droid_sansbold';
	font-size:30px;
}
.da-thumbs li a div {
	top: 0px;
	left: -100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.da-thumbs li a:hover div {
	left: 0px;
}
#portfolio .work li img {
	width:100%;
}
#portfolio .work li img:hover {
}
