/** Add Css for Main-Slideshow **/

.iosSliderDemo {
	clear: both;
	width: 100%;
	/* padding: 0 0 30% 0; */
	padding: 0 0 479px;
	margin: 0 0 0 0;
	position: relative;
}

.fluidHeight {
	position: absolute;
	width: 100%;
	/* height: 87%; */
	padding: 4% 0 4% 0;
	box-shadow: inset 0 3px 10px -4px #000, inset 0 -3px 10px -4px #000;
}

.sliderContainer {
	height: 100%;
	padding: 0 0;
	margin: 0px 0 20px;
	overflow: hidden;
}
#banner .button {
	background: #0d1e32;
	border: none;
	border-radius: 4px;
	font-weight: normal;
	font-size: 14px;
	padding: 20px 30px;
	color: #fff;
	float: left;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid #555555;
}
#banner .button1 {
	background: none;
	border: none;
	border-radius: 4px;
	font-weight: normal;
	font-size: 14px;
	padding: 20px 30px;
	float: left;
	color: #0d1e32;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid #555555;
}
#banner .button:hover {
	text-decoration: none;
	background: none;
	border: 1px solid #555555;
	color: #0d1e32;
}
#banner .button1:hover {
	background: #0d1e32;
	color: #fff;
}
.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height:400px;
}
.iosSlider i{display:none;}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
}

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 0 10px -5px #000;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.iosSlider .slider .item .inner .text1 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 150px;
    top: 30px;
    padding: 0 2px 0 7px;
    height: 70px;
}

.iosSlider .slider .item .inner .text1 span {
	color: #fff;
    font-family: Norican;
    font-size: 420%;
    line-height: 73px;
    padding: 0 8px;
}

.iosSlider .slider .item .inner .text2 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 5px 7px 7px;
    position: absolute;
    right: 0;
    top: 100px;
}

.iosSlider .slider .item .inner .text2 span {
	color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
    line-height: 120%;
}

.sliderContainer .slideSelectors {
	position: relative;
	bottom: 20px;
	left: 0;
	width: 1024px;
	margin: 0 auto;
	z-index: 1;
	height: 10px;
}

.sliderContainer .slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #000;
	background: #999;
	margin: 0 0 0 10px;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.sliderContainer .slideSelectors .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity=100);
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}

@media screen and (max-width: 1113px) {
	
	.iosSliderDemo {
		padding-bottom: 40%;
	}
	
	.fluidHeight {
		height: 87%;
	}
	
	.iosSlider .slider .item .inner {
		
		background-position: 80% 0;
	}
	
	.sliderContainer .slideSelectors {
		
		margin: 0 4%;
	}
	
	.sliderContainer .scrollbarContainer {
		
		margin: 0 4%;
	}
	
}
@media (min-width: 768px){
	.iosSlider {height:322px;}
}
@media (max-width: 767px){
	.iosSlider {max-height:310px;}
}
@media screen and (max-width: 768px) {
	
	.iosSlider .slider .item .inner .text1 {
		top: 15px;
		height: 50px;
	}
	
	.iosSlider .slider .item .inner .text1 span {
		font-size: 300%;
	    line-height: 53px;
	}
	
	.iosSlider .slider .item .inner .text2 {
		top: 65px;
	}
	
	.iosSlider .slider .item .inner .text2 span {
		font-size: 100%;
	    line-height: 105%;
	}
	
}

@media screen and (max-width: 500px) {
	
	.iosSlider .slider .item .inner .text1 {
		display: none;
	}
	
	.iosSlider .slider .item .inner .text2 {
		display: none;
	}
	
}

/*** Add More Custom CSS for Cart Header***/
div.mini-cart-layer {
    height: 26px;
    padding: 0;
    position: absolute;
    right: 20px;
    width: 165px;
    z-index: 99999;
	float: right;
}
div.mini-cart-layer-down{background-position: 0 bottom;}
.mini-cart-layer span#cartHeader {
    display: block;
    height: 26px;
    overflow: hidden;
    text-align: left;
    width: 165px;
}
.mini-cart-layer span#cartHeader {
	position: relative;
	color: #000;
	font-size: 12px;
	float: right;
	padding: 3px 10px 0px 10px;
}
.mini-cart-layer span#cartHeader:hover{color:#ff4a4a;}
.top-cart {
    float: left;
    position: relative;
	 background:#f5f5f5;
}
.top-cart .block-title {
    white-space: nowrap;
    cursor: pointer;
}
.top-cart .block-title.expanded {background-position: 0 3px !important;}
.top-cart .block-title.expanded span {background-position: 100% -126px !important;}
.top-cart .block-content {
    background:#fff;
    font-size: 11px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 20px;
    width: 280px;
	border:2px solid #ddd;
}
.top-cart .block-content ol {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.top-cart .block-content .block-subtitle { line-height: 12px;padding: 10px 20px 0px;}
.top-cart .block-content .block-subtitle .close-btn {
    float: right;
    width: 13px;
    height: 0;
    padding-top: 12px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/btn_remove.gif) no-repeat 0 0;
    position: relative;
    z-index: 1;
}
.top-cart .cart-empty .close-btn {
    float: right;
    width: 13px;
    height: 0;
    padding-top: 12px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/btn_remove.gif) no-repeat 0 0;
    position: relative;
    z-index: 1;
}
.top-cart .cart-empty {padding: 10px 10px 10px 20px; color: #666;}
.top-cart .block-content .item {
    padding: 8px 5px 8px 11px;
    border-bottom: 1px solid #DDD;
    margin: 0 5px;
}
.top-cart .block-content .last { border-bottom: none;}
.top-cart .block-content .item .product-name {
    font-size: 11px;
    height: 30px;
    line-height: 14px;
    margin: 0 0 5px;
    overflow: hidden;
}
.top-cart .block-content .item .product-name a {
    font-size: 11px;
    text-decoration: none;
    color: #444;
}
.top-cart .block-content table {margin: 5px 0 0 0;}
.top-cart .block-content table th {
    padding: 1px 8px;
    color: #8f8f8f;
    text-align: right;
}
.top-cart .block-content table td { text-align: left; padding: 1px 0;}
.top-cart .block-content .subtotal {
    padding: 2px 5px;
    text-align: center;
    color: #666;
}
.top-cart .actions {
    padding: 5px 11px;
    text-align: right;
    z-index: 999;
}
.top-cart .actions a {float: left; line-height: 23px;}
.top-cart .actions button { float: none;   color: #FFF; padding-top: 3px;}
div.top-cart { line-height: 21px;color: #2a2a2a;box-shadow: 0px 1px 6px 2px #ddd;}
div.top-cart .block-title {
    color: #818181;
    display: block;
    float: none;
    font-size: 12px;
    padding: 0;
}
div.top-cart .block-content {top: 30px;}
div.top-cart .block-content ol li { display: block;float: none;}

.block-cart-header {padding: 2px 0 0 0px;border: none;position: relative;margin: 0;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;}
.block-cart-header .block-content { background:none; padding: 0; }
.block-cart-header .block-title strong { color:#fff; }
.block-cart-header .block-subtitle { border-bottom: 1px solid #d7c7b6; }
.block-cart-header .block-subtitle span { display: block; float: left; }
.block-cart-header .block-subtitle a { display: block; float: right; text-transform: lowercase; font-size: 11px; }
.block-cart-header .summary { background:url(../images/cart-top-icon.png) no-repeat 0 50%; text-align:left; position:relative; z-index:1; line-height: 18px;min-width: 34px;min-height: 45px;cursor: pointer;}
.block-cart-header .summary table td { vertical-align: middle; text-align: right; padding:0 0px; }
.block-cart-header .summary table td:first-child{padding: 11px 0px 0 40px;}
.block-cart-header .amount { margin:0; }
.block-cart-header .empty { text-align: center; }
.block-cart-header .amount a { font-weight:bold; }
.block-cart-header .block-content li.item { border-bottom:1px solid #d7c7b6; position:relative;display: inline-block;width: 100%;background: transparent;}
.block-cart-header .subtotal { background:url(../images/bkg_subtotal.gif) no-repeat 50% 0; margin:5px 0 0; line-height:23px; }
.block-cart-header .subtotal .price { font-weight:bold; }
.block-cart-header .actions { display:none !important; }
.block-cart-header .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart-header #header-items { 
	background:none repeat scroll 0 0 #FFFFFF;
	padding:10px;
	 z-index: 99999; 
	width: 291px; 
	position: absolute; 
	display: none;
	 right: 0;
	border-top: 1px solid #009F91;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	box-shadow: none;
 }
.block-cart-header #header-items:hover {display: block;}
.block-cart-header:hover #header-items {display: block;}
.block-cart-header .button-show { font-size: 12px; padding:5px 10px; color:#F8F5E4; float: right; background: #a40c06; }
.block-cart-header .button-show a {color:white; text-transform: uppercase;}
.block-cart-header .btn-view-mode-all {display: block;margin: 9px 0 0px 0;float: left;font-size: 14px;}
.block-cart-header .mini-products-list .product-image{float: left;width: 20%;}
.block-cart-header .btn-checkout { float:right; margin:9px 0 0; }
.block-cart-header .btn-checkout span { }
.block-cart-header .btn-checkout span span { padding: 0 20px 0 13px;}
.block-cart-header .btn-checkout span:hover { }
.block-cart-header .btn-checkout span span:hover { }
/*Update Cart Top Css*/
.cart-top{float: right;margin: 10px 0px 11px 0;}
.show-btn-td{display:none;}
.block-cart-header .summary table td a.item-cart{}
.block-cart-header .summary table td .price{color:#af9c7d;}

/** Slider Featured Products & Bestseller Products & Brand**/
.glyphicon{font-style:normal !important;}
.category-products.featured-products,
.category-products.bestseller-products, 
.brand-container,
.more-views,
.related-products{position:relative;}
.col1-layout .category-products.featured-products .products-grid,
.col1-layout .category-products.bestseller-products .products-grid{}
.category-products.featured-products .products-grid.row,
.category-products.bestseller-products .products-grid.row{margin:0;}
#owl-example .item{
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{
	font-size: 28px;
	font-weight: 300;
	margin: 25px 0 0;
}
#owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.24
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-pagination{display:none;}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */
.owl-controls .owl-buttons div {margin-left:10px;}
.owl-buttons{position:absolute;top: -10px;right: 15px;}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	padding: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #bdae97;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	color: #2f2f2f;
	width: 40px;
	height: 40px;
	*display: inline;/*IE7 life-saver */
}
.owl-controls .owl-buttons .owl-prev {right: 25px;top: 0px;}
.owl-controls .owl-buttons .owl-next {right: 0px;top: 0px;}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover i{color:#fff;}
/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
