/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:40px;
	height:40px;
	border:none;
	text-indent:100%;
	background-image:url(../images/arrow_totop.png);
	background-repeat:no-repeat;
	background-color:#bdae97;
	background-position:-8px -8px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#toTop:hover {-webkit-transition: all 700ms;transition: all 700ms;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);background-color: #97d2c9;}
#toTopHover {
	width:40px;
	height:40px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}