<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head"><?php echo Mage::helper('navigationlayered')->__('Brands Manager') ?></h3></td>
        <td class="a-right">
            <?php /* echo $this->getButtonLoadNewAtt(); */ echo $this->getButtonLoadNew(); echo $this->getAddNewButtonHtml();  ?>
        </td>
    </tr>
</table>
</div>
<?php //echo $this->getStoreSwitcherHtml() ?>

<div>
	<?php echo $this->getGridHtml(); ?>
</div>

<script language="javascript">
 	elements = document.getElementsByName("weight");
	var ar = new Array();
	for(var i=1; i<elements.length;i++){
		Event.observe(elements[i],'blur',function(e){
			var parent = (this).up('tr');
			var element = this;
			var parenttd = (this).up('td');
			var child = parent.down('input.massaction-checkbox');
			var valWeight = (this).value;
			new Ajax.Request(
					'<?php echo $this->getWeightUrl(); ?>', 
					{
						method: 'post',
						parameters: {attribute_id: child.value, weight: valWeight},
						onSuccess: function(transport) {
							var value = transport.responseText;
							parenttd.update(value);
							parenttd.insert(element);
						}
					});
		});
	}
		
	
</script>