<div class="category_navigation">
	<ol <?php if ($this->getCollapsed() && !$this->getHasSelection()) echo 'style="display:none"'?>  >
	<?php
		$menId = Mage::getStoreConfig('catalog/catsex/men');
		$womenId = Mage::getStoreConfig('catalog/catsex/women');
		$kidsId = Mage::getStoreConfig('catalog/catsex/kids');
		$sexCatIds = array($menId, $womenId, $kidsId);
		$brand = Mage::registry('current_brand');
	?>
	<?php if (in_array($this->getDisplayType(), array(0, 2))): // default or categories with subcategories
	?>
		<?php foreach ($this->getItems() as $_item): 
				$subMenu = '';
				if(in_array($_item->getId(), $sexCatIds))
				{
					$subMenu = Mage::helper('navigationlayered')->getChildCategory($_item->getId()); 
				}
		?>
			<li class="navigationlayered-cat-level-<?php echo max(1, $_item->getLevel())?> <?php if(in_array($_item->getId(), $sexCatIds)) echo 'nav-sexCatparent'; ?> <?php if($subMenu) echo 'had_subcat'; ?>" data="<?php echo $_item->getLabel() ?>" >
				<a href="<?php echo Mage::helper('navigationlayered')->removeCatShowAll($this->urlEscape($_item->getUrl())) ?>" title="<?php if($brand) echo $brand->getTitle(); ?> <?php echo $_item->getLabel() ?>"><?php echo $_item->getLabel() ?> <span>(<?php echo $_item->getCount() ?>)</span></a>
				<?php  echo  $subMenu; ?>
			</li>
		<?php endforeach ?>
	<?php elseif ($this->getDisplayType() == 3): // static expandable 2 level tree?>
		<?php echo $this->getDisplayType(); ?>
		<?php foreach ($this->getItems() as $_item): ?>
			<?php
				$level      = $_item->getLevel();
				$additional = $_item->getIsFolded() ? 'style="display:none"' : '';
				
				$class      = 'navigationlayered-cat-level-' . $level;
				if (1 != $level){
					$class .= ' navigationlayered-cat-parentid-' . $_item->getId();    
				}
				
				$showIcon = (1 == $level && $_item->getHasChildren());
				$icon = ($_item->getIsChildSelected()) ? 'minus': 'plus';
				
			?>
			<li class="<?php echo $class?> <?php if(in_array($_item->getId(), $sexCatIds)) echo 'nav-sexCatparent'; ?>" <?php echo $additional?>>
				<?php if ($showIcon): ?><span id="navigationlayered-cat-id-<?php echo $_item->getId()?>" class="navigationlayered-plusminus <?php echo $icon?>"></span><?php endif ?>
				<a <?php if ($_item->getIsSelected()):?>class="navigationlayered-cat-selected"<?php endif?> href="<?php echo Mage::helper('navigationlayered')->removeCatShowAll($this->urlEscape($_item->getUrl())); ?>"><?php echo $_item->getLabel() ?> <span>(<?php echo $_item->getCount() ?>)</span></a>
			</li>
		<?php endforeach ?>
	<?php elseif (1 == $this->getDisplayType()):// dropdown ?>
		<li>
			<select onchange="if (this.value) setLocation(this.value)" class="navigationlayered-select <?php echo $this->__(''); ?>" >
				<!-- uncomment to show Filter name in the dropdown <option value=""><?php echo $this->getName() ?></option>-->
				<option value=""></option>
				<?php foreach ($this->getItems() as $_item): ?>
				<option  value="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?> (<?php echo $_item->getCount() ?>)</option>
				<?php endforeach ?>
			</select>
		</li>
	<?php endif ?>
	</ol>
</div>
<script language="javascript"> 
$$('li.nav-sexCatparent').each(function(ele, index){
	if(!ele.next('.nav-sexCatparent') && ele.next())
		ele.addClassName('last-sexcatbrand');
});
<?php 
if(Mage::registry('current_category') && Mage::registry('current_category')->getId() == 2 && Mage::registry('current_brand')): ?>
	$$('#treecat-nav li').each(function(ele){
		ele.addClassName('disable');
	<?php
		foreach ($this->getItems() as $_item): 
			?>
			if(ele.hasClassName('<?php echo str_replace(' ','_',$_item->getLabel()); ?>'))
			{
				ele.removeClassName('disable');
				if($('treecat-nav').up('.block-cats'))$('treecat-nav').up('.block-cats').hide();
			}
			<?php
		endforeach;		
	?>
	});
<?php
endif;
?>
</script>