<?php $name = trim(str_replace(' ', '_', $this->getName()));?>
<div class="shadow_nav">
<?php if( $this->getDisplayType() !=3): ?>
<?php if($this->getMultipleSelections() && $this->getHasSelection())
		{
			echo '<div class="remove-all-this"><a href="'. $this->getRemoveUrl() .'" title="'.$this->__("Filter zurücksetzen").'">'.$this->__("Filter zurücksetzen").'<img class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/></a></div>';
		}
?>
<style type="text/css">
/*	#scrollbar_track_<?php echo $name; ?>
	{
		height:<?php echo ($this->getScrollHeight() > 62) ? $this->getScrollHeight() - 32 : 30 ;?>px;
	}
	#scrollbar_content_<?php echo $name; ?>
	{
		max-height:<?php echo ($this->getScrollHeight() > 62) ? $this->getScrollHeight() : 62; ?>px;
	}*/
</style>


	<div class="scrollbar_container_navigation">  
		<div class="wrapper_track" style="display:none;">
			<div id="scrollbar_track_<?php echo $name; ?>" class="scrollbar_track"><div class="scrollbar_handle_navigation"><span class="track_top"></span><span class="track_bottom"> </span></div></div>  
			<div class="move_srollbar">
				<img class="scroll_move_up" id="scroll_move_up_<?php echo $name; ?>" src="<?php echo $this->getSkinUrl(); ?>images/move_up.png"/>
				<img class="scroll_move_down" id="scroll_move_down_<?php echo $name; ?>"  src="<?php echo $this->getSkinUrl(); ?>images/move_down.png"/>
			</div>
		</div>

		<?php if(trim($name) == "Size" or trim($name) == "Colour" ): ?>
            <div class="cuz-filter">
                <select class="selectyze" trionchange="setLocation(this.value)">
                    <option>Choose <?php echo $name ?></option>
                   	<?php foreach ($this->getItemsAsArray() as $item): ?>
                    <option value="<?php echo $item['url'] ?>" onclick=location.href="<?php echo $_filter->urlEscape($_item->getUrl()) ?>"><?php echo $item['label'] ?></option>
                    <?php endforeach ?>
                </select>
            </div>
		<?php else: ?>

		<div id="scrollbar_content_<?php echo $name; ?>" class="scrollbar_content">

<?php else: echo '<div class="scrollbar_container_navigation">'; endif;?>

		<ol <?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>style="display:none" <?php endif ?>>
		<?php
		$category = Mage::registry('current_category');
		switch ($this->getDisplayType()){
			case 0: // labels only
				foreach ($this->getItemsAsArray() as $item){
					if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
						continue;
					if(!isset($item['selected']))
						continue;
					echo '<li '.$item['style'].' class="'.$item['css'].'">';
					echo '<a class="'.$item['css'].'" href="'.$item['url'].'">';
					if(isset($item['selected'])) echo '<img class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/>';
					if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
					echo '<span>'. $item['count'] .'</span>' .'</a></li>';
				}
			break;
			
			case 1: // images only
				echo '<li class="onlyImages">';
				foreach ($this->getItemsAsArray() as $item){
					if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2 )
						continue;
					if(!isset($item['selected']))
						continue;
					echo ($item['image']) ? '<a '.$item['style'].' class="'.$item['css'].'" href="'.$item['url'].'"><img src="'.$item['image'].'" title="'. $item['label'] .'" alt="'. $item['label'] .'"></a>' : '';
				}
				echo '</li>';
			break;
			
			case 2: // images and labels
				foreach ($this->getItemsAsArray() as $item){
					if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
						continue;
					if(!isset($item['selected']))
						continue;
					echo '<li '.$item['style'].' class="'.$item['css'].'"><a class="'.$item['css'].'" href="'.$item['url'].'">';
					if (!empty($item['image'])){
						echo '<img src="'.$item['image'].'" title="'. $item['label'] .'" alt="'. $item['label'] .'">';
					}
					if(isset($item['selected'])) echo '<img class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/>';
					if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
					echo '<span>'. $item['count'] .'</span>' .'</a></li>';
				}
			break;
			
			case 3: // dropdown
				if($this->getHasSelection() && !$this->getMultipleSelections())
				{
					foreach ($this->getItemsAsArray() as $item){
						if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
							continue;
						if(!isset($item['selected']))
						continue;
						echo '<li '.$item['style'].' class="'.$item['css'];
						if(isset($item['selected'])) echo ' navigationlayered-attr-selected';
						echo '">';
						echo '<a class="'.$item['css'].'" href="'.$item['url'].'">';
						if(isset($item['selected'])) echo '<img class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/>';
						if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
						echo '<span>'. $item['count'] .'</span>' .'</a></li>';
					}
				}else
				{
					echo '<li><select onchange="if (this.value) setLocation(this.value)" class="navigationlayered-select">';
					echo '<option value="">' . $this->getName() . '</option>';
					echo '<option value="'.$this->getRemoveUrl().'"></option>';
					foreach ($this->getItemsAsArray() as $item){
						if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
							continue;
						echo '<option '.$item['css'].' value="'.$item['url'].'">';
						if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label']; 
						echo $item['count'] . '</option>';
					}
					echo '</select></li>';
				}
			break;
			
			case 4: // 2 columns
				$items = $this->getItemsAsArray(); 
				$size  = sizeof($items);
				$half  =  ceil($size/2);
				if($this->getHasSelection() && !$this->getMultipleSelections())
				{
					foreach ($this->getItemsAsArray() as $item){
						if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
							continue;
						if(!isset($item['selected']))
						continue;
						echo '<li '.$item['style'].' class="'.$item['css'].'">';
						echo '<a class="'.$item['css'].'" href="'.$item['url'].'">';
						if(isset($item['selected'])) echo '<img class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/>';
						if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
						echo '<span>'. $item['count'] .'</span>' .'</a></li>';
					}
				}
				else
				{
					echo '<li>';
					echo '<div class="navigationlayered-column nav-first-column">';
					for ($i=0; $i<$half; $i++){
						$item = $items[$i];
						if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
							continue;
						if(!isset($item['selected']))
						continue;
						echo '<a class="'.$item['css'].'" href="'.$item['url'].'">';
						if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
						echo '</a>' . '' . '<br/>';
					}
					echo '</div>';
					echo '<div class="navigationlayered-column nav-second-column">';
					for ($i=$half; $i<$size; $i++){
						$item = $items[$i];
						if(is_object($item['option']) && $item['option']->getFilterVisible() != null && $item['option']->getFilterVisible() == false && $category->getId() != 2)
							continue;
						if(!isset($item['selected']))
						continue;
						echo '<a class="'.$item['css'].'" href="'.$item['url'].'">';
						if(is_object($item['option']) && $item['option']->getTitle()) echo $item['option']->getTitle(); else echo $item['label'];
						echo '</a>' . ''. '<br/>';
					}
					echo '</div>';
					echo '</li>';
				}
			break;
		}
		if ($this->getDisplayType()<3 && $this->getShowLessMore()){
			echo '<li class="clearer"><a id="navigationlayered-more-'.$this->getRequestValue().'" class="navigationlayered-more" href="#">' . $this->__('More ...') . '</a></li>';
			echo '<li class="clearer"><a id="navigationlayered-less-'.$this->getRequestValue().'" class="navigationlayered-less" href="#" style="display:none">' . $this->__('Less ...') . '</a></li>';
		} 
		?>
		</ol>
	<?php if($this->getDisplayType() !=3): ?>
		</div>
	</div> 
<script type="text/javascript">
//<![CDATA[
/* document.observe('dom:loaded',function(){
		var cc = $('scrollbar_content_<?php echo $name; ?>');
		//alert(cc.offsetHeight);
		//alert( cc.down().offsetHeight);
		if(cc.offsetHeight <= cc.down().offsetHeight + 2 && cc.offsetHeight == <?php echo $this->getScrollHeight() ?>)// < 32 && cc.scrollHeight - cc.offsetHeight > 0)
		{	//cc.down().insert({after:'<br><br>'});
			cc.down().setStyle({minHeight: cc.down().offsetHeight + 50 + 'px'});
		}
		var scrollbar_<?php echo $name ?> = new Control.ScrollBar('scrollbar_content_<?php echo $name; ?>','scrollbar_track_<?php echo $name; ?>');  
		$('scroll_move_up_<?php echo $name; ?>').observe('click',function(event){
			scrollbar_<?php echo $name; ?>.scrollBy(-10);
		});
		//cc.down().setStyle({minHeight:'10px'});
		$('scroll_move_down_<?php echo $name; ?>').observe('click',function(event){
			scrollbar_<?php echo $name; ?>.scrollBy(10);
			event.stop();
		});
		if($('scrollbar_track_<?php echo $name; ?>').getStyle('display') == 'none')
		{
			$('scroll_move_up_<?php echo $name; ?>').up('div.move_srollbar').hide();
		}
		cc.down().setStyle({minHeight: 10 + 'px'});
	}); */
//]]>
</script>
<?php else: echo '</div>'; endif;?> 
<?php endif; ?>
</div>