<div class="navigationlayered-featured-wrapper">
<?php foreach ($this->getItems() as $item):?>
<a href="<?php echo $item->getUrl()?>"><img class="navigationlayered-featured"
title="<?php echo $this->htmlEscape($item->getTitle())?>" 
alt="<?php echo $this->htmlEscape($item->getTitle())?>" 
src="<?php echo $item->getImgBig()?>" /></a>
<?php endforeach ?>
</div>