<div class="categories_list_child" >
	<ol <?php if ($this->getCollapsed() && !$this->getHasSelection()) echo 'style="display:none"'?>  >
	<?php
		$curCatId = Mage::registry('current_category')->getId();
	?>
	<?php if (in_array($this->getDisplayType(), array(0, 2))): // default or categories with subcategories
	?>
		<?php foreach ($this->getItems() as $_item): 
		?>
			<li class="navigationlayered-cat-level-<?php echo max(1, $_item->getLevel())?>" data="<?php echo $_item->getLabel() ?>" >
				<a href="<?php echo Mage::helper('navigationlayered')->removeCatShowAll($this->urlEscape($_item->getUrl())); ?>"><?php echo $_item->getLabel() ?> <span>(<?php echo $_item->getCount() ?>)</span></a>
			</li>
		<?php endforeach ?>
	<?php elseif ($this->getDisplayType() == 3): // static expandable 2 level tree?>
		<?php echo $this->getDisplayType(); ?>
		<?php foreach ($this->getItems() as $_item): ?>
			<?php
				$level      = $_item->getLevel();
				$additional = $_item->getIsFolded() ? 'style="display:none"' : '';
				
				$class      = 'navigationlayered-cat-level-' . $level;
				if (1 != $level){
					$class .= ' navigationlayered-cat-parentid-' . $_item->getId();    
				}
				
				$showIcon = (1 == $level && $_item->getHasChildren());
				$icon = ($_item->getIsChildSelected()) ? 'minus': 'plus';
				
			?>
			<li class="<?php echo $class?> <?php if(in_array($_item->getId(), $sexCatIds)) echo 'nav-sexCatparent'; ?>" <?php echo $additional?>>
				<?php if ($showIcon): ?><span id="navigationlayered-cat-id-<?php echo $_item->getId()?>" class="navigationlayered-plusminus <?php echo $icon?>"></span><?php endif ?>
				<a <?php if ($_item->getIsSelected()):?>class="navigationlayered-cat-selected"<?php endif?> href="<?php echo Mage::helper('navigationlayered')->removeCatShowAll($this->urlEscape($_item->getUrl())); ?>"><?php echo $_item->getLabel() ?> <span>(<?php echo $_item->getCount() ?>)</span></a>
			</li>
		<?php endforeach ?>
	<?php elseif (1 == $this->getDisplayType()):// dropdown ?>
		<li>
			<select onchange="if (this.value) setLocation(this.value)" class="navigationlayered-select <?php echo $this->__(''); ?>" >
				<!-- uncomment to show Filter name in the dropdown <option value=""><?php echo $this->getName() ?></option>-->
				<option value=""></option>
				<?php foreach ($this->getItems() as $_item): ?>
				<option  value="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?> (<?php echo $_item->getCount() ?>)</option>
				<?php endforeach ?>
			</select>
		</li>
	<?php endif ?>
	</ol>
</div>
<script lang="javascript">
	$$('.categories_list_child a').each(function(ele){
		var url = ele.readAttribute('href');
		var characQs = url.split('?');
		var nbsp = url.split('&');
		if(characQs.length < 2 && nbsp.length > 1)
		{
			if(nbsp.length > 1)
			{
				var newUrl = nbsp[0] + '?' + nbsp[1];
				for(var i = 2; i< nbsp.length; i++)
				{
					newUrl = '&' + nbsp[i];
				}
				ele.setAttribute('href', newUrl);
			}
		}
	});
</script>
