<?php $links = $this->getLinks() ?>
<?php if (count($links)): ?>
<div class="navigationlayered-links-wrapper" >
<?php foreach ($links as $link): ?>
<div class="navigationlayered-link">
	<?php if(isset($link['img'])): ?>
	<img title="<?php echo $this->htmlEscape($link['title'])?>" alt="<?php echo $this->htmlEscape($link['title'])?>" src="<?php echo Mage::helper('navigationlayered')->getResizedUrl($link['img'], 100, 40); ?>" title="<?php echo  $this->htmlEscape($link['title'])?>">
	<?php
		endif;
		if($this->getMode()): ?>
		<br/><?php echo $this->__("more by ") ?> <a href="<?php echo str_replace("katalog/", "", $link['url'])?>" title="<?php echo  $this->htmlEscape($link['title'])?>"><?php echo  $this->htmlEscape($link['title'])?></a>
	<?php endif; ?>
</div>
<?php endforeach ?>
</div>
<div class="clearer"></div>
<?php endif; ?>