<?php $items = $this->getItems() ?>

<div class="content">
	<?php
	 if ($items): ?>
	<ul class="bare-list">
	<?php foreach ($items as $letters): ?>
		<?php foreach ($letters as $letter => $options): ?>
				<?php foreach ($options as $o): 
					$alphabet = strtoupper(substr($o['label'],0,1));// = 
					$arrayAlphabet[$alphabet][] = '<a href="'.$o['url'].'"><span>'. $this->htmlEscape($o['label']).'</span></a>';
				?>
				<?php endforeach ?>
		<?php endforeach ?>
	<?php endforeach;
		ksort($arrayAlphabet);
		foreach($arrayAlphabet as $key => $items)
		{
			echo '<div class="brandGroup"><h2 class="title"> '. $key .'</h2><ul>';
			foreach($items as $item)
			{
				?>
				<li class="item-brand"><?php echo $item; ?></li>
				<?php
			}
			echo '</ul></div>';
		}	
	 ?>
	</ul>
	<?php endif ?>
</div>
<script lang="javascript">
	 
</script>