<?php $items = $this->getItems() ?>
<h3 class="label"><a href="<?php echo Mage::getModel('catalog/category')->load("119")->getUrl() ?>"><?php echo $this->__('Marken bei Ring-paare.de')?></a></h3>
<?php if ($items): ?>
<?php $all = 0; ?>
<?php foreach ($items as $letters): ?>
    <?php foreach ($letters as $letter => $options): ?>
		<?php $all = $all + count($options); ?>
	<?php endforeach; ?>
<?php endforeach; ?>
<?php $all = round($all / 4); ?>
<ul>
<?php $counter = 0; ?>
<?php foreach ($items as $letters): ?>
    <?php foreach ($letters as $letter => $options): ?>
            <?php foreach ($options as $o): ?>
                <li>
                    <a href="<?php echo $o['url'] ?>" title="<? echo $this->htmlEscape($o['label']) ?>"><?php echo $this->htmlEscape($o['label']) ?> <?php if ($this->getShowCounts()) { echo '<span>('.$o['cnt'].')</span>'; } ?></a>
                </li>
				<?php if($all == $counter): ?>
					</ul><ul>
					<?php $counter = -1; ?>
				<?php endif; ?>
				<?php $counter++; ?>
            <?php endforeach ?>
    <?php endforeach ?>
<?php endforeach ?>
</ul>
<?php endif ?>