<?php $show = ($this->getItemsCount() > 1 || !Mage::getStoreConfig('navigationlayered/general/hide_one_value')) ?>
<?php
	if(Mage::app()->getRequest()->getParam('price'))
	{
		$query = array(
            'price' => null,
            Mage::getBlockSingleton('page/html_pager')->getPageVarName() => null // exclude current page from urls
        );
		echo '<div class="remove-all-this"><a href="'. Mage::helper('navigationlayered/url')->getFullUrl($query) .'">'.$this->__('Reset').'<img alt="" class="icon-remove" src="'.$this->getSkinUrl('images/bt_remove.png').'"/></a></div>';
	}
	else
	{
		 if (2 != $this->getDisplayType()):?><!--<li>&nbsp;</li>--><?php endif ?>
		 <?php
	}
?>
<ol <?php 
if ($this->getCollapsed() && !$this->getHasSelection()): ?>style="display:none" <?php endif ?>>
<?php if (Mage::getStoreConfig('navigationlayered/general/price_from_to')):
?>
        
        <li class="price-filter">
			<div id="track" class="wrapper_slide_ranger" style="">
				<div class="overlay_track"></div>
				<div class="button_slider slider_price_from" id="handle_to" style=""></div>
				<div class="button_slider slider_price_to" id="handle_from" style=""></div>
			</div>
			<div class="form_area">
				<input id="price_from" size="3" class="input-text" name="price_from" value="<?php echo is_float($this->getPriceFrom()) ? $this->getPriceFrom() : $this->_filter->getMinPriceInt(); ?><?php // echo ($this->getPriceFrom() != 'From') ? ($this->getPriceFrom() ? $this->getPriceFrom() : 0) : 0;  ?>"/>
				<span class="currency"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
				<span class="from_to"><?php echo $this->__('bis'); ?></span>
				<input id="price_to" size="3" class="input-text" name="price_to" value="<?php echo is_float($this->getPriceTo()) ? $this->getPriceTo() : $this->_filter->getMaxPriceInt(); ?><?php // echo ($this->getPriceTo() != 'To') ? ($this->getPriceTo() ? $this->getPriceTo() : $this->_filter->getMaxPriceInt() ) : $this->_filter->getMaxPriceInt(); ?>"/>
				<span class="currency"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
				<button type="submit" title="<?php echo $this->__('Find')?>" class="form-button button navigationlayered-price-find" name="price_find" id="navigationlayered-price-btn"><span><span><?php echo $this->__('Find')?></span></span></button>
			</div>
		</li> 
		<script type="text/javascript">
//<![CDATA[
		var percent = 10 * <?php echo $this->_filter->getMaxPriceInt(); ?> / 100;
		var slider = new Control.Slider('handle_from', 'track', {
				axis: 'horizontal',
				range: $R(<?php echo $this->_filter->getMinPriceInt(); ?>,<?php echo $this->_filter->getMaxPriceInt(); ?>),
				sliderValue: <?php echo is_float($this->getPriceFrom()) ? $this->getPriceFrom() : $this->_filter->getMinPriceInt(); ?>,
				onSlide: function(v){ $('price_from').value = navigationlayered_price_format(v); },
				onChange: function(v){ 
					$('price_from').value = navigationlayered_price_format(v);
					if(v > $('price_to').getValue() || v == <?php echo $this->_filter->getMaxPriceInt(); ?>)
					{
						var max = $('price_to').getValue();
						if(max > <?php echo $this->_filter->getMaxPriceInt(); ?>)
						{
							max = <?php echo $this->_filter->getMaxPriceInt(); ?>;
						}
						$('price_from').value = max;
						slider.setValueBy(- (v - max + percent));
					}
					searchByPrice();
				}
			});
		var slider2 = new Control.Slider('handle_to', 'track', {
			axis: 'horizontal',
			range: $R(<?php echo $this->_filter->getMinPriceInt(); ?>,<?php echo $this->_filter->getMaxPriceInt(); ?>),
			sliderValue: <?php echo is_float($this->getPriceTo()) ? $this->getPriceTo() : $this->_filter->getMaxPriceInt(); ?>,
			onSlide: function(v){  $('price_to').value = navigationlayered_price_format(v) },
			onChange: function(v){
				 $('price_to').value = navigationlayered_price_format(v)
				if(v < $('price_from').getValue() || v == <?php echo $this->_filter->getMinPriceInt(); ?>)
				{
					$('price_to').value = $('price_from').getValue();
					slider2.setValueBy(($('price_from').getValue() - v + percent ));
				}
				searchByPrice();
			}
		});
		$('price_from').value = $('price_from').value.toLowerCase();
		$('price_to').value = $('price_to').value.toLowerCase();
//]]>
	</script>
<?php endif ?>
<?php
	$url = Mage::helper('navigationlayered/url')->getFullUrl(array('price'=>'price-from,price-to'));
	// $url = str_replace('?cat=showall','', $url);
	// $url = str_replace('&cat=showall','', $url);
 ?>
<input type="hidden" id="navigationlayered-price-url" value="<?php echo Mage::helper('navigationlayered')->removeCatShowAll($url);?>" />
</ol>
