<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php $c = count($_filters) ?>
<?php if (!empty($_filters)): ?>
    <?php if (Mage::helper('navigationlayered')->isVersionLessThan(1, 4)): ?>
        <div class="block-content">
			<dl class="currently">
			<dt>
				<span class="selection"><?php echo $this->__('Your selection') ?></span>
				<a href="<?php echo $url ?>"><i class="fa fa-times"></i></a>
			</dt>
			<dd>
				<ol>
    <?php else: ?>
		<?php $url = Mage::helper('navigationlayered/url')->getFullUrl(array(), 1); ?>
		<div class="block-content" id="navigation_state">
			<dl class="currently">
			<!--dt class="headSelection">
				<span class="selection"><?php echo $this->__('Your selection') ?></span>
			</dt>
			<dd-->
				<div>
					<ol>
		<?php endif; ?>
					<?php /* foreach ($_filters as $_filter): ?>
						<li class="filter-selected">
							<?php if($c == 1): ?>
								<?php $label = explode("<a", $_filter->getLabel(), 2) ?>
								<?php $label = $label[0]; ?>
								<!--h4 class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</h4--> <span class="left"><span class="curItem"><?php echo $label ?></span> <a href="<?php echo $url ?>"><img src="<?php echo $this->getSkinUrl('images/bt_remove.png') ?>" alt="<?php echo $_removeTxt ?>" /></a></span>
							<?php else: ?>
								<!--h4 class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</h4--><?php if (!$_filter->getIsMultiValues()): ?> <span class="left"><span class="curItem"><?php echo $_filter->getFrontendLabel() ? $_filter->getFrontendLabel() : $_filter->getLabel(); ?></span> <a href="<?php echo $url ?>"><img src="<?php echo $this->getSkinUrl('images/bt_remove.png') ?>" alt="<?php echo $_removeTxt ?>" /></a></span><?php else: ?> <span class="left"><span class="curItem"><?php echo str_replace("btn_remove.gif","bt_remove.png",str_replace(", ","</span><span class='curItem'>", $_filter->getLabel())); ?></span></a></span><?php endif; ?>
							<?php endif; ?>
							<?php if (!$_filter->getIsMultiValues()): ?>
								<?php if (Mage::helper('navigationlayered')->isVersionLessThan(1, 4)): ?>
									<a href="<?php echo $_filter->getRemoveUrl() ?>" class="widget-btn" title="<?php echo $_removeTxt ?>"><img src="<?php echo $this->getSkinUrl('images/bt_remove.png') ?>" alt="<?php echo $_removeTxt ?>" /></a>
								<?php else: ?>
									<!--a href="<?php echo $url ?>"><img src="<?php echo $this->getSkinUrl('images/bt_remove.png') ?>" alt="<?php echo $_removeTxt ?>" /></a-->
								<?php endif; ?>
							<?php endif; ?>
						</li>
					<?php endforeach; */ ?>
						<li class="rmvAll"><a href="<?php echo $url ?>" class="rmvAll"><?php echo $this->__('Alle Filter zurücksetzen') ?><img src="<?php echo $this->getSkinUrl('images/bt_remove.png') ?>" alt="<?php echo $_removeTxt ?>" /></a></li>
					</ol>
				</div>
			<!--/dd-->
		</dl>
	</div>
<?php endif; ?>