<?php $currentCat = Mage::registry('current_category'); ?>
<?php if($this->getSexNavHtml()): ?><div class="block-cats">
	<div id="wwBlock" class="navigation_tree_cat">
		<div class="block-title navHeadline">
			<h4><?php echo $this->__('Categories') ?></h4>
		</div>
		<div class="block-content">
			<ul id="treecat-nav" class="nav-category">
				<?php echo $this->getSexNavHtml (); ?>
			</ul>
		</div>
	</div>
</div>
<?php endif; ?>
<?php if($subCat = $this->getSubCurrentCategory()): ?>
<?php if(count($this->getParentCat($currentCat)->getChildrenCategories()) > 0){ ?>
<div class="block-cats layer_navigation">
	<div id="listSubCategory" class="navigation_tree_cat">
		<div class="block-title navHeadline">
			<?php 
				$parentUrl = "";
				if( $currentCat->getId() != 2 || !$currentCat ){
					$parentUrl = $this->getParentCat($currentCat)->getUrl();
				}
				//if(!$parentUrl){
			?>
				<h4><a href="<?php echo $parentUrl; ?>">
					<?php echo $this->getSubTitleCat(); ?>
				</a></h4>
			<?php //} ?>
		</div>
		<div class="block-content">
			<ul id="sub_currentCat" class="nav-category">
				<?php echo $subCat; ?>
			</ul>
		</div>
	</div>
</div>
<?php 
	} 
	endif; ?>
<?php if($otherCat = $this->getOtherCategory()): ?>
<div class="block-cats">
	<div class="navigation_tree_cat">
		<div class="block-title navHeadline">
			<h4><?php echo $this->__('Other Categories'); ?></h4>
		</div>
		<div class="block-content">
			<ul id="other_currentCat" class="nav-category">
				<?php echo $otherCat; ?>
			</ul>
		</div>
	</div>
</div>
<?php endif; ?>
 
