<?php
/**
 *Flycart Extension
 *
 * PHP versions 4 and 5
 *
 * LICENSE: This source file is subject to version 3.0 of the PHP license
 * that is available through the world-wide-web at the following URI:
 * http://www.amzthemes.com/license.  If you did not receive a copy of
 * the PHP License and are unable to obtain it through the web, please
 * send a note to admin@amzthemes.com so we can mail you a copy immediately.
 *
 * @category   Magento Extensions
 * @package    AMZ_Flycart
 * @author     AmzThemes <sales@amzthemes.com>
 * @copyright  2014 AMZ Solution
 * @license    http://www.amzthemes.com/license
 * @version    3.0.1
 * @link       http://www.amzthemes.com
 */
 ?>
<?php $helper = Mage::helper('flycart'); ?>
<a title="<?php echo $helper->__('Decrement'); ?>" class="flycart-qty-btn flycart-qty-change flycart-qty-change-left" href="javascript:ajaxcartConfig.qtyDown(#flycart_item, #validate_qty)"><?php echo $helper->__('down')?></a>
<input class="input-text qty flycart-qty" type="text" id="flycart_prod_id_#flycart_item" value="1" />
<a title="<?php echo $helper->__('Increment'); ?>" class="flycart-qty-btn flycart-qty-change flycart-qty-change-right" href="javascript:ajaxcartConfig.qtyUp(#flycart_item, #validate_qty)"><?php echo $helper->__('up')?></a>