/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*.m-filter-item-list .m-selected-filter-item { color: red; }*/
.m-filter-popup .m-selected-ln-item > a { font-weight: bold; text-decoration: none; }
.block-layered-nav .btn-remove { margin-top: 3px; }
.block-layered-nav .currently li {position: relative;padding: 6px 25px 6px 0px;display: inline-block;color: #000;font-size: 11px;}
.block-layered-nav .currently li span.label{color:#333;font-size:12px;}
.block-layered-nav .currently .btn-remove { margin-top: 0; position: absolute; right: 4px; top: 7px; margin-left: 0; }
.block-layered-nav dt { position: relative; }