/**
 * @category    Mana
 * @package     ManaPro_FilterSlider
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
.m-filter-slider {
	height: 8px;
	position: relative;
	background: #d7d7d7;
}
.m-filter-slider > .m-slider-from, .m-filter-slider > .m-slider-to { height: 15px; width: 5px; position: absolute; }
.m-filter-slider > .m-slider-span {height: 8px;position: absolute;background: #5e5e5e none;}
.m-filter-slider > .m-slider-from, 
.m-filter-slider > .m-slider-to{
   background-color: #97d2c9;
	cursor: move;
	position: absolute;
	top: -4px;
	height: 15px;
	width: 15px;
	z-index: 2;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}


.m-slider-values {text-align: center; margin-top: 10px; overflow:hidden;color: #4d4d4d;font-size: 13px;} 
.m-slider-values .m-slider-min-value { float: left; }
.m-slider-values .m-slider-max-value { float: right;}
.m-slider-selected-value {
    clear: both;
    float: left;
	color: #4d4d4d;
	margin-top: 10px;
}
#left_price-applied{display:none;}