/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked, 
ol.m-filter-item-list li div{background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked.jpg) 0 6px no-repeat;}
ol.m-filter-css-checkboxes li a.m-checkbox-checked,
ol.m-filter-item-list li.m-selected-ln-item div{background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.jpg) 0 6px no-repeat;}
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked:hover,
ol.m-filter-item-list li div:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.jpg) 0 6px no-repeat;}
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.jpg) 0 6px no-repeat;}
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { float: left;   height: 20px;   padding-left: 15px;   text-decoration: none;}

.m-filter-checkboxes li input { margin-right: 5px; position: relative; bottom: 2px; }