<?php 
/**
 * @category    Inchoo
 * @package     Inchoo_Prevnext
 * @author      Branko Ajzele <ajzele@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php $_prev = $this->getPreviousProduct(); ?>
<?php $_next = $this->getNextProduct(); ?>

<?php if($_prev || $_next): ?>
<div class="inchoo_prevnext">
    
    <?php if($_prev): ?>
        <div class="inchoo_prevnext_prev">
            <div class="inchoo_prevnext_link">
				<a rel="prev" class="tooldown left" href="<?php echo $_prev->getProductUrl(); ?>" title="<?php echo $this->escapeHtml($_prev->getName()); ?>" data-toggle="tooltip"><i class="fa fa-angle-left"></i></a>
			</div>
        </div><?php /* #inchoo_prevnext_prev */ ?>
    <?php endif; ?>

    <?php if($_next): ?>
        <div class="inchoo_prevnext_next">
            <div class="inchoo_prevnext_link"><a class="tooldown right" title="<?php echo $this->escapeHtml($_next->getName()); ?>" href="<?php echo $_next->getProductUrl(); ?>" data-toggle="tooltip"><i class="fa fa-angle-right"></i></a></div>
        </div><?php /* #inchoo_prevnext_next */ ?>
    <?php endif; ?>
    
</div>
<?php endif; ?>