
<div id="fly-cart-item">
    <?php $addedItem = null ?>
    <div class="cart-item-content block">
    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
        <ul id="cart-popup-item" class="flycart-products-list">
        <?php foreach($_items as $_item): ?>
			<?php if($_item->getProductId() == $this->getProductId()):?>
			<?php $addedItem = $_item;?>
            <?php echo $this->getItemHtml($_item) ?>
			<?php endif;?>
        <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
    <?php endif ?>
    </div>
	<?php if($addedItem):?>
	<div class="summary">
		<p class="subtotal">
			<span class="label"><?php echo $this->__('Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($addedItem->getRowTotalInclTax()) ?>
			
		</p>
	</div>
	 <?php endif ?>
</div>