<?php if ($posts = $this->getRecent()): ?>
    <div class="widget-latest">
        <h2 class="title"><?php echo Mage::helper('blog')->__('Blog'); ?></h2>
        <ul class="row negative-wrap">
            <?php $i=0 ; foreach ($posts as $post): ?>
				<?php if(++$i % 3 == 0){break;} ?>
                <li class="col-sm-6 col-xs-12 item-latest">
					<div class="postTitle ">
						<h3><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h3>
						<span class="date-time"><?php $_ct= new Zend_Date($post->getCreatedTime()); echo $_ct->toString('dd MMM yyyy'); ?></span>
					</div>
					<div class="postContent row">
						<?php echo $post->getShortContent(); ?>
					</div>
					<a class="show-more" href="<?php echo $post->getAddress(); ?>"><?php echo $this->__('read more') ?></a>
				</li>
            <?php endforeach; ?>
        </ul>
		
    </div>
<?php endif; ?>